[2015-10-05 13:50] Galexrt opened #1 "Move away from galexrt/zulip and puppet"
- [x] Switch back to zulip/zulip
- [x] Include all puppet modules

[2015-10-05 19:27] Galexrt opened #2 "Is it needed to "link" the assets to an extra volume?"

[2015-10-06 06:37] Galexrt opened #3 "Volume for the prod-static directory?"

[2015-10-06 07:06] Galexrt opened #4 "Remove uneeded packages from the puppet manifests"
I think for example ntp isn't needed in the image.
Remove those packages.

[2015-10-06 11:13] #1 closed

[2015-10-06 11:19] Galexrt opened #5 "Remove camo from the image"

[2015-10-06 21:45] Galexrt commented on #2
The files and avatars are saved here `/home/zulip/uploads`.
Adding a volume in the next few commits.

[2015-10-06 22:12] Galexrt commented on #2
Added in c7aefe27a47e6f0f06b05e89e7fd714eca55be96

[2015-10-06 22:12] #2 closed

[2015-10-06 22:12] Galexrt commented on #3
Nope. Not needed.

[2015-10-06 22:12] #3 closed

[2015-10-06 22:15] #5 closed

[2015-10-06 22:16] Galexrt opened #6 "Add setup for "external" services to entrypoint.sh"

[2015-10-07 12:41] Galexrt commented on #6
0674e8f848cb5c726e8d14931e41ad87781a9483 should been the last part.

[2015-10-07 12:41] #6 closed

[2015-10-07 12:46] Galexrt commented on #4
Closing, because it look's like all packages that get installed are needed.

[2015-10-07 12:46] #4 closed

[2015-10-12 07:36] Galexrt opened #7 "Fix the rabbitmq-server (HOST) error"

[2015-10-12 07:37] Galexrt opened #8 "Make the "setup" of postgresql-9.3-tsearch-extras simpler/easier"
* Create separate docker image?

[2015-10-17 23:33] #7 closed

[2015-10-17 23:34] Galexrt opened #9 "Fix the problems with creating the "first" user"

[2015-10-18 21:38] frankgerhardt commented on #7
Now that this issue is closed, is it fully working?

Would it make sense to remove the warning "WARNING! This is currently work in progress. It's not fully "working" yet." on the Docker hub page?

[2015-10-18 21:46] Galexrt commented on #7
@frankgerhardt Yes, you are right, it should work now.
The Zulip Page shows and you can login to it.
I just need to make sure the container starts up without trouble after a restart, but the "first" time start the container works fine. I'll remove the "Warning" in one of the next commits.
Thanks for telling me!

[2015-10-18 21:47] Galexrt commented on #9
Fixed in the ba2aae7b48baa6074f38d1ea41f6b2bd8b129f36 commit.

[2015-10-18 21:47] #9 closed

[2015-10-18 21:48] Galexrt commented on #8
I may will create a seperate image with the postgresql-9.x-tsearch-extras packages installed.

[2015-10-18 21:56] Galexrt opened #10 "Check if latest image is working and release a version"

[2015-10-18 22:00] Galexrt opened #11 "Create documentation"
## ToDo:
- [x] How to use the image with docker-compose
- [x] How to use the container without docker-compose (Create scripts for an easy start)
- [x] Add a list of all env vars
- [x] Add explanation for all env vars
- [x] Add new env vars to wiki

[2015-10-18 22:28] Galexrt opened #12 "Fix the user creation script"

[2015-10-18 22:30] Galexrt commented on #10
The image is working, only thing that's buggy right now, is the user creation.
I create the version tag despite their's the bug with the user creation.

[2015-10-18 22:30] #10 closed

[2015-10-19 09:51] Galexrt commented on #8
This image should do the job. https://quay.io/repository/galexrt/zulip-postgresql-tsearchextras
It's based on github.com/sameersbn/docker-postgresql but without the many tags.

[2015-10-19 09:51] #8 closed

[2015-10-19 16:48] Galexrt commented on #12
This cd75ef70331a80ba879a982e8beadac6a9f79e5e should fix the problems with the user creation/setup.

[2015-10-19 21:26] Galexrt commented on #12
Fixed in cd75ef70331a80ba879a982e8beadac6a9f79e5e.

[2015-10-19 21:26] #12 closed

[2015-10-20 08:33] Galexrt commented on #11
Wiki entry has been added. https://github.com/Galexrt/docker-zulip/wiki

[2015-10-20 15:30] njuaplusplus opened #13 "Error: unable to connect to node rabbit: nodedown"
Hi, I met with some problem. The zulip fail to work.
And it's the logs.

[code]

[2015-10-20 16:12] Galexrt commented on #13
Are you using `docker-compose up` to start it?
Is the container stopping after these "errors", because I have no problems.
It seems these "errors" are just because in this case the user guest is non existing.
I'll supress these errors from rabbitmqctl in my next commit, but as I said it should "boot" without any problems, when using the default docker-compose.yml

[2015-10-20 16:29] Galexrt commented on #13
rabbitmqctl setup errors are now supressed.
Added in commit b2775d51b6648d80cf9017ee4281fc26a57c4509.

[2015-10-20 17:09] Galexrt opened #14 "Add cert auto generation"

[2015-10-20 17:21] Galexrt commented on #14
Added in 477f3b1acc4656d4e00d903be9f02cedba33a790.
Env vars for customizing the certificate:
* `ZULIP_CERTIFICATE_SUBJ` (default: generates out of the vars below, `/C=$ZULIP_CERTIFICATE_C/ST=$ZULIP_CERTIFICATE_ST/L=$ZULIP_CERTIFICATE_L/O=$ZULIP_CERTIFICATE_O/CN=$ZULIP_CERTIFICATE_CN`)

or

* `ZULIP_CERTIFICATE_C` (default: `US`)
* `ZULIP_CERTIFICATE_ST` (default: `Denial`)
* `ZULIP_CERTIFICATE_L`

[2015-10-20 17:23] Galexrt commented on #13
The certificates are now generated automatically, if they don't exist in the data volume.
See #14 for details.

[2015-10-20 17:28] Galexrt commented on #11
Script added in scripts/docker_start.sh

[2015-10-21 01:26] njuaplusplus commented on #13
@Galexrt Thank you for your reply. Yes, I use the `docker-compose up -d` to start it.
And zulip container stopped after the error, while others (database, reddis....) still ran.

I will try again and reply later.

[2015-10-21 02:08] decker502 commented on #13
+1

I got the same problem

[code]

[2015-10-21 03:35] njuaplusplus commented on #13
@Galexrt
Now, it says

[code]

[2015-10-21 03:40] decker502 commented on #13
My logs is different

[code]

[2015-10-21 07:23] Galexrt commented on #13
It seems like a database problem. I'm working on a fix for it.

[2015-10-21 11:31] Galexrt commented on #13
I fixed the error, as I thought it was a problem with the `galexrt/zulip-postgresql-tsearchextras` container. It is now **fixed** in the latest version.

**Please remove and/or repull both images!**
Can you try again using `quay.io/galexrt/zulip:latest` instead of `quay.io/galexrt/zulip:1.3.6` and repull `quay.io/galexrt/zulip-postgresql-tsearchextras:latest`.

For me it's working now, please tell

[2015-10-21 11:49] Galexrt opened #15 "Release docker-zulip v1.3.7"
- [x] Check Zulip changes
- [x] Change Zulip specific env vars (Dockerfile)
- [x] Cleanup
- [x] Build and test the new image
- [x] Fix errors related to the new version

[2015-10-21 11:50] Galexrt commented on #15
Currently available in the dev branch.

[2015-10-21 11:51] Galexrt commented on #15
Dev image currently building.

[2015-10-21 11:51] Galexrt commented on #14
Working.

[2015-10-21 11:51] #14 closed

[2015-10-21 12:30] Galexrt commented on #15
Build for dev image failed..
Looking in to it.

[2015-10-21 12:32] njuaplusplus commented on #13
@Galexrt
Great! It seems to work now!
Thank you!

[2015-10-21 12:50] njuaplusplus commented on #13
@Galexrt
But I meet another problem.
The 'forget password' email can't be sent.
I use the mailgun to send email, and it shows that zulip does not calling mailgun to send email.

[2015-10-21 12:58] Galexrt commented on #13
@njuaplusplus I create a new ticket for your problem with the login.

I'll close this ticket now, as it seems to work again. :)

[2015-10-21 12:58] #13 closed

[2015-10-21 13:02] Galexrt opened #16 "User creation not working"
This has to do with this script, that get's executed once "during" the initiation [zulip-puppet/files/setupZulipUser.sh](zulip-puppet/files/setupZulipUser.sh)

[2015-10-21 13:20] Galexrt opened #17 "Problems using mailgun to send mail?"

[2015-10-21 13:34] Galexrt commented on #13
@njuaplusplus See #17 and #16.

[2015-10-21 13:46] Galexrt commented on #17
@njuaplusplus have you set the following env vars in the docker-compose.yml?
* `ZULIP_SETTINGS_EMAIL_HOST` (email host, for example `smtp.example.com`)
* `ZULIP_SETTINGS_EMAIL_HOST_USER` (email host username)
* `ZULIP_SECRETS_email_password` (password of the email host user)

[2015-10-21 14:04] njuaplusplus commented on #17
@Galexrt
Yes, I have set these vars.

And I'm sure that the user and password are correct.

[2015-10-21 14:05] njuaplusplus commented on #16
@Galexrt
How do you login zulip?
By which user and password?

[2015-10-21 14:12] Galexrt commented on #16
@njuaplusplus If you haven't changed the env vars `ZULIP_USER_EMAIL` and `ZULIP_USER_PASS`.
The login would be, username/email: `example@example.com`, with password `zulip`.

These two env vars control the first user `ZULIP_USER_EMAIL` and `ZULIP_USER_PASS`.
**They will only one time work!**

[2015-10-21 18:20] cmcneil opened #19 "dockerzulip_zulip_1 exited with code 1"
Hello! I'm not sure whether this is a problem with the config, a problem with the documentation, or my own misunderstanding, but advice would be greatly appreciated :). (And thanks again for this repo!)

STEPS TO REPRODUCE:
----------------------------------
- Stop and remove all docker containers.
- Clone a fresh repository.
- Make the following changes to `docker-compose.yml`
  - s/example\.com/

[2015-10-21 19:45] Galexrt commented on #19
Error seems to be the `entrypoint.sh` writing the secrets badly formatted in the `/etc/zulip/zulip-secrets.conf` file (the secrets file is linked to `/data/zulip-secrets.conf`.

This will be fixed in the new release with Zulip version 1.3.7.
While using the current `dev` image, I didn't got this error, but I have to test this a bit more.

[2015-10-21 20:35] Galexrt commented on #15
Fixed `entrypoint.sh` related env var problems and errors in 2478b5e9485c2afb8484d86859a91a36d711025e.

[2015-10-21 21:33] pirate commented on #17
Some hosting providers block outgoing traffic to SMTP ports, have you checked to make sure you can telnet from your server to mailgun on port 25?
`telnet mg.yourdomain.com 25`
You should see some header like:
 `220 yourdomain.com ESMTP Postfix`

[2015-10-21 21:48] Galexrt commented on #17
@njuaplusplus If you can connect to the smtp server using telnet like @pirate said.
You can copy the logs out of the container using the `docker cp` command and see if you spot any errors.

This would copy the `/var/log` folder out of the container, `docker cp docker_zulip_zulip_1:/var/log zulip_log`.

[2015-10-21 22:43] #15 closed

[2015-10-21 22:43] Galexrt commented on #15
See pull request #20

[2015-10-21 22:45] Galexrt commented on #16
**In the v1.3.7 version it is currently not working!**
Please try with v1.3.7 and using the registration page to create users again. Thanks!

I try to re-add this feature. I close this ticket for now and create a new ticket for re-adding/fixing this feature.

[2015-10-21 22:47] Galexrt commented on #17
@njuaplusplus I just tested it using my own mailgun account and it worked without a problem.

As I wrote, copy the `/var/log` folder out of the container and check the logs if there are any errors.

Closing this, because it seems to be a server host/network problem.

[2015-10-21 22:47] #17 closed

[2015-10-21 22:53] Galexrt commented on #19
This error seems to be fixed in the Zulip version 1.3.7. At least I can't reproduce this error using the v1.3.7 version.

Can you please try again with the latest version and report back if it worked now?
Please report back even when this issue is closed. Thanks!

Closing, because I can't reproduce it anymore using the latest version (v1.3.7).

[2015-10-21 22:53] #19 closed

[2015-10-21 23:01] Galexrt opened #21 "Create friendlier README.md"
If anyone has some ideas on making the `README.md` look friendlier and show a bit more info, I'll be thankful for any pull requests. :)

[2015-10-21 23:05] Galexrt commented on #21
@cmcneil do you have any ideas on how to make the `README.md` look better?

[2015-10-22 00:33] cmcneil commented on #19
Yep, seems to be fixed with 1.3.7! Unfortunately the same procedure for replication above now produces a different error. (django.db.utils.InternalError: could not open dictionary file "/usr/share/postgresql/9.4/tsearch_data/en_us.dict": No such fil
e or directory)

I guess I'll open a different bug for that.

[2015-10-22 00:46] cmcneil commented on #21
Startup from scratch: <link to wiki>. And then on the wiki, I agree with you that explanations of all the environmental vars would be good.

You could also just put the contents of the wiki page front and center in the Readme. I think I definitely expect github Readmes to tell you how to get it running from scratch. (i.e. "You need docker at least vX, and docker-compose at least vX. Then run these

[2015-10-22 01:11] cmcneil opened #22 "ERROR: permission denied to create extension "tsearch_extras""
I seem to have dug up another issue. I don't know very much about docker, perhaps the yml needs to be modified to grant root access in the zulip container?

STEPS TO REPRODUCE:
----------------------------------
- Stop and remove all docker containers.
- Clone a fresh repository.
- Make the following changes to `docker-compose.yml`
  - s/example\.com/mydomain\.org/g
  - Switch the ports from 80:80

[2015-10-22 02:28] njuaplusplus commented on #16
@Galexrt
I will try it.

As you say 'They will only one time work!'
Every time I test your image, I first remove the whole zulip directory, including other volumns,
and run from the scratch.
So it may not be the creation of user for the second time.

[2015-10-22 03:19] njuaplusplus commented on #16
Failed to login......

I think maybe that the user is not created, that's why the 'forget password' email is not sent...

But also I failed to register...

And If I choose to sign up with google account, it says 500 error.

[2015-10-22 04:18] decker502 opened #23 "ERROR: permission denied to create role"
Hi ,
     I still got the error when  I use the zulip with 1.3.7 version.

## Database log

[code]

## zulip log

[code]

[2015-10-22 05:50] Galexrt commented on #22
This seems like an error with an older version of the `quay.io/galexrt/zulip-postgresql-tsearchextras`.
Because the errors you give use **postgres version 9.4** and not like in the `quay.io/galexrt/zulip-postgresql-tsearchextras` image **postgres version **9.3**.
Can
Can you try to start over with removing your current data/volume folders and repull both images?
`docker pull quay.io/galexrt/zulip-

[2015-10-22 05:59] Galexrt commented on #23
@decker502 You can currently ignore these "errors", because when you look at the end of the logs you posted you'll see that everything starting without any problems. (Please retry with repulled images, thanks).
[code]
They just mean that while setting up the database (on every start), we just try recreate the database user, database and the extension.
But yes you are right, this below is half of a

[2015-10-22 06:01] Galexrt commented on #21
@cmcneil Thanks for tipp! I'll try my best. :)

[2015-10-22 06:05] Galexrt commented on #23
BTW your zulip should be running perfectly, because everything needed was started by supervisor.
Can you start it up and check if it is reachable? Looking at the logs it should be reachable :smile:

[2015-10-22 06:06] Galexrt opened #24 ""Hide" error, when it is no error: create extension "tsearch_extras""
[code]
[code]
Add an if or switch case to check if the postgres user is used to connect or if it is an option to add DB_ROOT_USER, ... for creationg of the extension.
See #22

[2015-10-22 06:11] Galexrt commented on #16
@njuaplusplus The behaviour changed in zulip version 1.3.7.
The user creation has to be done using the zulip registration page. My script that did it, isn't working since the Zulip version 1.3.7, but I'll try my best to fix the script soon.

I haven't tested google login yet, but I'll look into it when I have fixed most of the bugs.

In version 1.3.6 `ZULIP_USER_EMAIL`, `ZULIP_USER_DOMAIN` and `ZU

[2015-10-22 06:42] Galexrt commented on #24
The error isn't shown anymore in the latest `dev` branch/version.

[2015-10-22 06:42] #24 closed

[2015-10-22 08:18] Galexrt commented on #11
Updated the wiki pages.

[2015-10-22 08:18] #11 closed

[2015-10-22 08:23] Galexrt commented on #16
@njuaplusplus The registration error you describe means, that for example my Zulip Admin domain is set to "example.com" so you can only create accounts with email addresses from "example.com".

**Google Login**: Have you set the needed Zulip Google Login vars?
See https://github.com/zulip/zulip/blob/master/zproject/local_settings_template.py and https://github.com/zulip/zulip/blob/master/zproject/

[2015-10-22 09:33] decker502 commented on #23
I have tried to run zulip client.
"You look familiar." is shown. I can't see login and password input. I'm not sure if this is cause of server

[2015-10-22 09:34] Galexrt commented on #21
I added a new README.md and added some more wiki pages with better explanations. I'm working on some more wiki pages about the setup process.

@cmcneil Could you maybe give me some feedback about the new wiki pages and the new README.md?

[2015-10-22 09:37] Galexrt commented on #23
@decker502 Okay. So at least Zulip starts up correctly.
Could you provide me the new log from the zulip container?

[2015-10-22 09:42] njuaplusplus commented on #16
@Galexrt
It's my fault that I have not set the google vars.

Maybe it's better to add this restriction in the readme.md:

[2015-10-22 09:44] decker502 commented on #23
zulip seems not to produce the new log:(

[2015-10-22 09:45] Galexrt commented on #23
Have you tried `docker logs ZULIP_CONTAINER_NAME`?

[2015-10-22 09:48] decker502 commented on #23
```docker-compose logs ``` and ```docker logs``` all were both tried

[2015-10-22 09:53] Galexrt commented on #23
That's weird. There should be log output.
Could you repull the `quay.io/galexrt/zulip` image, start it again and post the log output here?

[2015-10-22 09:56] Galexrt commented on #16
@njuaplusplus I added a wiki page for it ;)
Here https://github.com/Galexrt/docker-zulip/wiki/Zulip-GoogleApps-Authentication

[2015-10-22 10:04] decker502 commented on #23
Because Internet speed of china is very slow,  it would be done until tomorrow:(
I'll try it, and post the log output here at tomorrow, thank you very much!

[2015-10-22 10:06] Galexrt commented on #23
@decker502 If you have any other questions regarding the configuration of zulip or have other problems, you can ask me on the irc channel `#docker-zulip`.

[2015-10-22 10:08] decker502 commented on #23
@Galexrt OK :)

[2015-10-22 10:40] njuaplusplus commented on #16
@Galexrt

Thank you so much for your work.

But I think that there's some misleading at the
[configuration wiki page](https://github.com/Galexrt/docker-zulip/wiki/Configuration):

The `ZULIP_SETTINGS_EXTERNAL_HOST` can be different.

As in my vps, I set the `ZULIP_USER_DOMAIN="qq.com"`,
but the `ZULIP_SETTINGS_EXTERNAL_HOST="zulip.answ.me"`.
And it works.

For anyone want to try zulip, feel free t

[2015-10-22 10:46] Galexrt opened #25 "Fix the user creation script for v1.3.7"
Related to #16

[2015-10-22 10:46] Galexrt commented on #16
@njuaplusplus Yes you are right, I try to make this more clear in the wiki.
Yes, I have deployed docker-zulip to one of my machines, with external access.

If you have any other questions feel free to ask them on the Freenode IRC #docker-zulip (See https://github.com/Galexrt/docker-zulip/blob/master/README.md#community for more details) or here too.
Closing as the issue is going to be resolved in

[2015-10-22 10:46] #16 closed

[2015-10-22 11:06] Galexrt commented on #16
I updated the [Configuration wiki page](https://github.com/Galexrt/docker-zulip/wiki/Configuration).
@njuaplusplus Do you think the new text for `ZULIP_USER_DOMAIN` makes it more clear?

[2015-10-22 11:17] decker502 commented on #25
When I registe , the result is ```500: Internal server error.```
![zulip](https://cloud.githubusercontent.com/assets/1238183/10663867/865ed918-78f1-11e5-9836-f2448cf2f6ca.png)

[2015-10-22 11:41] decker502 commented on #25
zulip's log output :

[code]

[2015-10-22 11:57] Galexrt opened #26 "Finish wiki page for ZULIP_SETTINGS_ Vars"
https://github.com/Galexrt/docker-zulip/wiki/ZULIP_SETTINGS_*-Vars

[2015-10-22 12:56] decker502 commented on #25
settings.py

[code]

[2015-10-22 14:00] Galexrt commented on #25
The user creation is now working in the dev image.
I will merge the changes to the master and v1.3.7 branch.

[2015-10-22 14:00] Galexrt commented on #25
@decker502 The problem with boolean vars like EMAIL_USE_TLS="true" will be resolved in a next commit.

[2015-10-22 14:13] Galexrt opened #27 "ZULIP_SETTINGS_* bools are inserted as strings"
**Example**:
In `docker-compose.yml`:
`ZULIP_SETTINGS_EMAIL_US_TLS=True`
In `/etc/zulip/settings.py`:
`ZULIP_SETTINGS_EMAIL_US_TLS = "True"`
Should be:
`ZULIP_SETTINGS_EMAIL_US_TLS = True`

***

@decker502 I created a ticket for the bug.

[2015-10-22 14:15] Galexrt commented on #22
@cmcneil This error got fixed in the latest version.

[2015-10-22 14:15] #22 closed

[2015-10-22 14:15] Galexrt commented on #23
Fixed in the latest version.

[2015-10-22 14:15] #23 closed

[2015-10-22 14:16] Galexrt commented on #25
See #27

[2015-10-22 14:16] #25 closed

[2015-10-22 14:18] Galexrt commented on #27
Fixed in d116b779457136810df1acbe0b95f45ecf263917.

[2015-10-22 14:18] #27 closed

[2015-10-22 15:00] njuaplusplus commented on #26
I tried this, and find it's not true.

I set the `ZULIP_SETTINGS_ADMIN_DOMAIN` to 'qq.com',
and register 2 accounts using different xxx.qq.com,
and only the one set by `ZULIP_SETTINGS_ZULIP_ADMINISTRATOR` is admin

[2015-10-22 15:03] njuaplusplus commented on #17
@pirate
Thank you.
The problem I met is because the first user is not created.
So when I use the forget password to find the password of the first user,
the mailgun of course will not send the email.

[2015-10-22 15:17] Galexrt commented on #17
@njuaplusplus See #25. I fixed the user creation script in the latest dev version.
I will merge it soon with the latest version.

[2015-10-22 16:24] cmcneil commented on #22
Thanks for the lightning responses! ^.^

[2015-10-22 16:35] Galexrt commented on #22
@cmcneil I fixed all current errors in the **new new v1.3.7 version**.

The image is getting build right now. You can check the build status here [galexrt/zulip - Quay.io](https://quay.io/repository/galexrt/zulip )

[2015-10-22 16:47] cmcneil commented on #22
@Galexrt
Hm, are you sure this is fixed? I'm still getting the same error.

More Detailed Steps to Reproduce
----------------------------------------------
*As Root*
- Stop and remove all docker containers.
  - `docker stop $(docker ps -a -q)`
  - `docker rm $(docker ps -a -q)`
- Clone a fresh repository.
  - `git clone https://github.com/Galexrt/docker-zulip.git` (master, right?)
- Make the follo

[2015-10-22 16:56] Galexrt commented on #22
@cmcneil Please wait until the new builds is finally ready.
You can see the build status here https://quay.io/repository/galexrt/zulip
It will take some time to build, but after the builds are ready it will work, I currently have a self built version running without any problems. ;)
See my current running zulip instance https://zulip.zerbytes.net/ using the latest version.
I'm sorry about the buil

[2015-10-22 16:58] Galexrt commented on #22
@cmcneil If you need any help or have any other problems, you can hit me up on the IRC channel `#docker-zulip` on freenode. :)

[2015-10-22 17:37] #21 closed

[2015-10-22 17:46] cmcneil commented on #22
Yep! It resolved after pulling the new builds!

[2015-10-22 17:51] Galexrt commented on #22
@cmcneil Currently the "real" new images are getting build, I just saw that `quay.io` had network problems and I don't think that the docker hub has already build the images.
On the docker hub the builds take like 30-45 minutes and on Quay.io they take just like 10-20 minutes, but Quay.io had some network troubles when the builds were started so they were a bit delayed. Please repull when all buil

[2015-10-22 18:08] Galexrt commented on #26
@njuaplusplus Could you give me some feedback about the wiki pages?

[2015-10-22 18:20] Galexrt commented on #22
@cmcneil I just checked quay.io about the progress on the builds
The builds are going slowly through. The builds should be ready in like one hour..

[2015-10-22 20:03] Galexrt commented on #22
@cmcneil I just wanted to inform you, that the build is now ready! You can repull the newest version now. :)

[2015-10-22 20:06] #26 closed

[2015-10-22 20:17] cmcneil commented on #22
@Galexrt Cool, thanks! I do actually get a running instance now. (https://convox.org:8443)
It's still not exactly working, but I'm guessing that this is an issue with my own configuration. I'll ask in IRC when I work on it later :+1:

[2015-10-22 20:20] Galexrt commented on #22
@cmcneil Okay, looking forward to hear from you on IRC.
I hope that I can help you with your configuration. :)
Have you checked out the newly added wiki pages? [Wiki page - Configuration](https://github.com/Galexrt/docker-zulip/wiki/Configuration)

[2015-10-22 20:35] Galexrt opened #29 "Create/Finish wiki pages"
### Create:
- [x] Zulip IMAP Gateway Configuration (See: [zulip/zulip - File: /zproject/local_settings_template.py](https://github.com/zulip/zulip/blob/master/zproject/local_settings_template.py#L151-L202)

### Finish:
- [x] [Zulip Email SMTP Configuration](https://github.com/Galexrt/docker-zulip/wiki/Zulip-Email-SMTP-Configuration)
- [x] [Zulip SSL](https://github.com/Galexrt/docker-zulip/wiki/Zu

[2015-10-22 20:42] Galexrt opened #31 "Clean up the whole container"
This is the most important task right now, the clean up helps make the updates for new Zulip version much easier (and readable :smiley: ).

- [x] Reformat the puppet manifests
- [x] Search and destory uneeded files
- [x] `entrypoint.sh`: Clean up the functions
- [x] `entrypoint.sh`: One big "run" function, with better seperation for example manage.py runs, etc.
- [x] `entrypoint.sh`:Test if it's s

[2015-10-22 20:52] Galexrt opened #32 "Add backup task/action to case"
Related to #31

[2015-10-22 21:19] Galexrt commented on #22
@cmcneil I just went to your Zulip instance and I think that I already know you get no login page.
Can you please reclone the repo, configure the `docker-compose.yml` with your configuration again and check if it's working then?
If you still get no login form, please create a new ticket.

[2015-10-23 01:46] cmcneil opened #33 "Blank Login Page on Startup"
![screenshot 2015-10-22 at 6 22 20 pm](https://cloud.githubusercontent.com/assets/865043/10682374/e250ef02-78e9-11e5-9faf-d578854eed23.png)

STEPS TO REPRODUCE:
----------------------------------
- Stop and remove all docker containers.
- Clone a fresh repository.
- Pull fresh images
  - `docker pull quay.io/galexrt/zulip`
  - `docker pull quay.io/galexrt/zulip-postgresql-tsearchextras`
- Make the

[2015-10-23 01:47] cmcneil commented on #22
@Galexrt Hm, I did that, and still get no login form. Made a ticket.

[2015-10-23 02:18] decker502 commented on #27
I have tried it, and it works. Thank @Galexrt for you patient :)

[2015-10-23 02:26] decker502 commented on #33
Please try to register , show the result here

[2015-10-23 03:02] decker502 opened #34 "Database error: "zerver_realmfilter does not exist at character 146""
Hi @Galexrt ,

Zulip can't work When I follow the below

## database'log output:

[code]

## zulip's log output :

[code]

## ```events-message_sender.log``` in container

[code]

## ```fts-updates.log``` in container

[code]

[2015-10-23 06:40] Galexrt commented on #33
@decker502 Can you please check if the repo you have cloned is up to date?
The blank login page is occuring, because I changed the `ZULIP_AUTH_BACKENDS_EmailBackend` env var to `ZULIP_AUTH_BACKENDS`. Can you please reclone the repo and reconfigure your docker-compose.yml. It should fix the problem.

[2015-10-23 06:45] Galexrt commented on #34
@decker502 Could you provide the image id?
I think this happens, because of a "failed" Zulip database migration. When I have the image id, I can give you more help.

[2015-10-23 09:13] Galexrt commented on #34
@decker502 I updated the wiki page for ssl configuration.
The error you are having isn't related to the ssl certs.
The error is seems to be an problem with the tables in the database.
Can you try to clear all volume folders from zulip and the database and start it up again.

BTW I'm currently on the IRC.

[2015-10-23 09:15] Galexrt commented on #33
@decker502 This problem is related to my changes made to the `ZULIP_AUTH_BACKENDS` env var.

[2015-10-23 13:48] decker502 commented on #34
@Galexrt The images id is 4986116b2c48.

I have tried it first time when I met the error.
If I clear all volume folders it works well. But if I clear all folders  expect certs folder ,  I will get error.

[2015-10-23 13:51] decker502 commented on #33
@Galexrt  sorry, I forget it. haha.

[2015-10-23 13:57] Galexrt commented on #34
@decker502 Have you checked the updated wiki page for it? I added how the certificate file names have to be.

Could you run the container with `docker-compose` and stop it after it started and do a `find /opt/docker/zulip/zulip` (replace `/opt/docker/zulip/zulip` with your actual host volume path and then  please post the output here.

[2015-10-23 14:08] decker502 commented on #34
@Galexrt
## the output:

[code]

[2015-10-23 15:30] Galexrt commented on #34
Issue resolved in IRC.

[2015-10-23 15:30] #34 closed

[2015-10-23 20:50] #29 closed

[2015-10-23 21:50] Galexrt opened #35 "Test Log2Zulip env vars and functions"

[2015-10-23 23:29] cmcneil commented on #33
@Galexrt No, I don't think that's it, I tried switching it back and forth, and the login error occurs regardless. When I try to register I get a page like this:
![screenshot from 2015-10-23 16 25 50](https://cloud.githubusercontent.com/assets/865043/10707153/34f7a002-79a3-11e5-9ffe-30ec072178b9.png)

[2015-10-23 23:33] cmcneil commented on #33
@Galexrt Question: do I actually need to be running an outgoing mail server for Zulip to function(postfix or something) on the host machine? Currently I've left these settings as default:
ZULIP_SETTINGS_EMAIL_HOST: "smtp.convox.org"
ZULIP_SETTINGS_EMAIL_HOST_USER: "noreply@convox.org"
And I'm not actually running a mail server at all. I assumed I would still be able to log in and get basic functio

[2015-10-24 00:05] Galexrt commented on #33
@cmcneil You don't need a working smtp server for this to work.
That's why I created the `ZULIP_USER_*` vars. They create an user.
For the user creation to work you have to remove the `/opt/docker/zulip/zulip/initiated` and restart the container or remove the current zulip volume folder and restart the container. Please check if your `docker-compose.yml` is up to date with the correct env vars. Be

[2015-10-24 01:08] Galexrt commented on #33
@cmcneil We fixed the problem in IRC. It's working now.

[2015-10-24 01:08] #33 closed

[2015-10-24 05:32] decker502 opened #36 "Problem with smtp using tls or ssl"
Hi @Galexrt ,
     Zulip involves the function of the smtp can not be normal use when I set it to use tls or ssl.
If I set ```ZULIP_SETTINGS_EMAIL_USE_SSL ``` to ```False```, it works well.

Below is the ```errors.log``` output in container:

[code]

[2015-10-24 12:43] Galexrt commented on #36
@decker502 Could you enter the container and do `tail -n 30 /home/zulip/deployments/current/zproject/settings.py` (Don't forget to remove your credentials from it!) and post it here.

[2015-10-24 14:10] decker502 commented on #36
output is:

[code]

[2015-10-24 15:42] Galexrt commented on #36
@decker502 Thanks for the output. Could you do a `cat /home/zulip/deployments/current/zproject/settings.py` in the container?
I though 30 lines were enough, sry.

[2015-10-25 02:23] Galexrt opened #38 "Move to repo clone instead of downloading zip version"
Original title: Remove custom zulip puppet files

[2015-10-25 04:02] Galexrt commented on #32
Added in dev branch b5a9ef576b9819fbec577c11e9ce3284aac54d8a.

[2015-10-25 04:02] #32 closed

[2015-10-25 05:17] decker502 commented on #36
@Galexrt

Output is:

[code]

[2015-10-25 15:50] Galexrt commented on #36
@decker502 That's weird the env var `ZULIP_SETTINGS_EMAIL_USE_SSL` didn't got inserted into the `/home/zulip/deployments/current/zproject/settings.py`.
Can you do a `grep EMAIL_USE /etc/zulip/settings.py` in the container? Maybe the env var got added to the secondary `settings.py`.

[2015-10-25 16:44] Galexrt commented on #36
@decker502 I just released a new image version, that should fix your problem.
Can you try again with the latest image?
See here https://github.com/Galexrt/docker-zulip/releases/tag/1.3.7-1

***

Repull these docker images `quay.io/galexrt/zulip-postgresql-tsearchextras` and `quay.io/galexrt/zulip`.

[2015-10-25 16:45] Galexrt commented on #31
Released the new version https://github.com/Galexrt/docker-zulip/releases/tag/1.3.7-1.

[2015-10-25 16:45] #31 closed

[2015-10-25 16:47] Galexrt commented on #35
Removed this feature because the archive with Zulip server download, doesn't include the `bots/` integrations folder.

[2015-10-25 16:47] #35 closed

[2015-10-25 16:47] Galexrt commented on #38
Already remove some files in #31.

[2015-10-25 19:37] ff- opened #40 ""ERROR: no schema has been selected to create in" from Postgresql"
I am using docker-compose to deploy it, here's the last log of `docker-compose up`:

[code]

[2015-10-25 19:41] Galexrt commented on #40
@ff- Could you please post the full output and your `quay.io/galexrt/zulip` image id?

[2015-10-25 19:43] Galexrt commented on #40
@ff- Could you provide the full log of the zulip container?

[2015-10-25 19:57] ff- commented on #40
@Galexrt the image id is `quay.io/galexrt/zulip:v1.3.7-1`

Here's the full log of the `zulip_zulip_1` container:
[code]

[2015-10-25 20:19] Galexrt commented on #40
@ff- I looked into the problem and I fixed it in 4b46b0b2cbc7921c4a1f11ccc22b9e8459065d71.
Images are currently being built (You can see the status here https://quay.io/repository/galexrt/zulip).

Could you please post the output of the command `docker exec -t zulip_zulip_1 env` here, if you have added credentials please remove them in the output. Thanks.

[2015-10-25 20:31] ff- commented on #40
@Galexrt that command would not run, because the `zulip_zulip_1` container has exited on the error.

The build that you just triggered will be available under the same tag?

[2015-10-25 20:34] Galexrt commented on #40
@ff- Yes under the same tag. Please repull, when the image is built. See https://quay.io/repository/galexrt/zulip.
It will take some time for the image to be built (current estimated time 2 hours).
Sry about the long image build time. The error should be now fixed.
If you have any other questions, you can join the IRC. :)

[2015-10-25 23:05] Galexrt commented on #40
@ff- Can you try again with the new image if the error is still there?

[2015-10-26 00:11] ff- commented on #40
@Galexrt it is fixed now, thank you so much for the hotfix! :)

I can see the container starting correctly from the logs, however I cannot access to the webpage yet, due to some SSL problems that I'm debugging. I will open another issue if they are related to this Dockerfile, while I'm closing this one.

[2015-10-26 00:11] #40 closed

[2015-10-26 05:56] decker502 commented on #36
@Galexrt Great.  Everything seemed to be normal. Thank you!
BTW How can I start new container without recreating the volumn folder.

[2015-10-26 07:05] Galexrt commented on #36
@decker502 Change **all** paths in the `docker-compose.yml` and/or you create multiple `docker-compose.yml`s and call them using `docker-compose -f YOUR_DOCKER_COMPOSE_FILE up` (Where `up` is the `docker-compose` command to execute).
In the default `docker-compose.yml` you would replace `/opt/docker/zulip` with for your new path example `/home/Galexrt/zulip-instance-1` or `/srv/zulip-1`.

You coul

[2015-10-26 07:05] #36 closed

[2015-10-26 07:11] Galexrt opened #41 "Create Troubleshooting wiki page"
https://github.com/Galexrt/docker-zulip/wiki/Troubleshooting

[2015-10-26 08:07] Galexrt opened #42 "Fix /home/zulip/uploads"
`mkdir: cannot create directory '/home/zulip/uploads': File exists` while starting

[2015-10-26 08:45] decker502 commented on #36
@Galexrt  Don't care it. It's my fault. I think I have fixed it. :)

[2015-10-26 12:41] Galexrt commented on #42
Fixed in 83ec5602a8e33392f926c3e6a54e6a66c9395479.

[2015-10-26 12:41] #42 closed

[2015-10-27 08:22] Galexrt commented on #41
Not the best, but better than no Troubleshooting page.

[2015-10-27 08:22] #41 closed

[2015-10-27 19:43] eduherraiz opened #43 "Camo's service mandatory?"
I can't see camo's reference in installation zulip documentation.
Could you document why did you included and his use?
Is optional?

[2015-10-27 21:39] Galexrt commented on #43
@eduherraiz Camo is used in someway by zulip, but I haven't yet used it "actively" in the container (`docker-compose.yml`).
See here https://github.com/zulip/zulip/blob/59dfec8f8b151b3780c848eb5e69eed3882bc155/zproject/settings.py#L478-L484 and https://github.com/zulip/zulip/blob/59dfec8f8b151b3780c848eb5e69eed3882bc155/puppet/zulip/manifests/camo.pp.

[2015-10-28 07:57] Galexrt commented on #43
@eduherraiz I removed camo from the `docker-compose.yml` and I research further if and how Camo is required for zulip.

[2015-10-28 07:57] #43 closed

[2015-10-28 20:31] eduherraiz commented on #43
Thank you @Galexrt.
I'm working in a different kubernetes definition based in your work. Let me test it a bit more and I will share it.
BTW good work!

[2015-10-28 20:37] Galexrt commented on #43
@eduherraiz That's good to hear! Looking forward to see a pull request from you. :+1:

[2015-10-28 20:39] Galexrt commented on #38
Question to ask:
1. How do we generate the static files? (\*insert static generating script from zulip/zulip here\*)
2. Are we cloning a version tag in the our version branches and tags?

[2015-11-03 16:49] Galexrt commented on #38
Almost done, it just needs some more fixing.

[2015-11-06 10:38] Galexrt commented on #38
The problems with building the image from the zulip/zulip repo, should now been fixed in the latest commit 4b8f6eb02827d8ef28900bc0b68bd1e56393e291.

[2015-11-06 22:57] shilov commented on #34
Got the same problem. Would love to know how to fix this.

[2015-11-06 22:59] Galexrt commented on #34
@shilov Please create a new ticket with your logs, so I can look at it. Thanks.

[2015-11-06 23:29] shilov opened #44 "Initializing database fails"
What appears to be a SQL syntax error cascades into a barrage of errors citing  `fts_update_log`

[code]

The issue occurs with zulip:1.3.7 and zulip:1.3.7-1

The *database* definition in the compose file:

[code]

[2015-11-06 23:46] Galexrt commented on #44
@shilov Could you please post the full log output as a gist.

[2015-11-07 00:35] shilov commented on #44
I'm really curious if everything comes down to that one single syntax error causing everything else to fail. https://gist.github.com/shilov/3e9124d101742ed09201

[2015-11-07 10:46] Galexrt commented on #44
@shilov Thanks for the logs. I'm looking into it.

[2015-11-07 10:51] Galexrt commented on #44
@shilov Could you post your image id of `galexrt/zulip` and `galexrt/zulip-postgresql-tsearchextras`.
Have you made any changes to the `docker-compose.yml`?

[2015-11-07 10:54] Galexrt commented on #38
Last problem with `supervisor` running in daemon mode fixed in 24744507d18c41e701e0f7f462ad417ac86ef67c.

[2015-11-07 12:04] Galexrt opened #45 "Slim down the image a bit"

[2015-11-07 13:01] Galexrt commented on #38
See #45 for the new details.

[2015-11-08 00:14] Galexrt commented on #44
@shilov Can you using the latest version of the image?
The latest version is now `1.3.7-2`.

[2015-11-08 09:25] bluesalt opened #46 "docker-compose up keeps running in foreground"
With the latest image (1.3.7-2), after configuring `docker-compose.yml `, I managed to start a zulip instance successfully. Everything seems ok, I am able to login and register new user now. However,  the containers keeps running in foreground after the `docker-compose up` command was issued.  If I used `ctrl +c ` to shutdown `docker-compose`, then all the containers will be stopped too. Any confi

[2015-11-08 09:39] bluesalt commented on #46
I know how to run the containers in detach mode now.  I should have used `sudo docker-compose up -d` .

[2015-11-08 09:39] #46 closed

[2015-11-08 09:41] bluesalt commented on #44
@Galexrt , I used the 1.3.7-2 image, it still complained the similar error like.
[code]
But my zulip instance works now. Thanks.

[2015-11-08 11:01] Galexrt commented on #44
@shilov Is it working for you too with the latest image `v1.3.7-2`?

[2015-11-08 11:12] Galexrt commented on #38
Done in ce8c3b4d28629ae1ebc7aa278cad5b0c963a1382.

[2015-11-08 11:12] #38 closed

[2015-11-08 15:17] Galexrt commented on #44
@bluesalt Yes, this is an "error", but not a bad one.
I'll try to remove it soon.

[2015-11-10 07:32] shilov commented on #44
@Galexrt I'm still seeing the `"'zulip'"` syntax error, sorry for the delayed response.

[2015-11-10 07:54] Galexrt commented on #44
@shilov But is it starting now?
The syntax error isn't a big deal, when you use the default `docker-compose.yaml` with `galexrt/docker-zulip-postgresql-tsearchextras` as the database.

[2015-11-10 11:06] shilov commented on #44
It does start @Galexrt, thanks for your help.
It was failing initially, I thought it was due to the same syntax error but after a second look I found a mistake I had made.

I'm still having problems with GoogleMobileOauth2Backend but I'll make a separate ticket for that.

[2015-11-10 11:06] #44 closed

[2015-11-10 13:35] bluesalt opened #48 "Cannot search history message"
From the error logs  I saw
[code]

Seems it is related with the tsearch. Not sure if we have this tsearch-extras dependency installed correctly or not.  Does the search feature work well in your environment?

[2015-11-10 13:41] Galexrt commented on #48
Do you use the `galexrt/zulip-postgresql-tsearchextras` for database?

[2015-11-10 14:26] bluesalt commented on #48
Yes, here is the containers list:
[code]
and here is the images list:
[code]

[2015-11-10 14:37] Galexrt commented on #48
@bluesalt There seems to be problem with my `galexrt/zulip-postgresql-tsearchextras` image.

I'll try to give a workaround until it's fixed.

[2015-11-10 14:40] Galexrt commented on #48
@bluesalt Could you provide a gist with the full log output from docker-compose?
Not the log files inside the container. Thanks.

[2015-11-10 23:52] bluesalt commented on #48
Sure.  https://gist.github.com/bluesalt/fea84ee81bddc6b92514

[2015-11-11 05:37] Galexrt commented on #48
@bluesalt Thanks for the logs. I'm looking into it.

[2015-11-11 11:51] Galexrt commented on #48
@bluesalt I think I fixed the problem. It seems that it is/was a problem in my `galexrt/zulip-postgresql-tsearchextras` image.
Can you repull the `galexrt/zulip-postgresql-tsearchextras` and try again please?

[2015-11-11 15:03] bluesalt commented on #48
I could not pull the image from quay.io due to the bad network in China. Is it possible for you to put the image in hub.docker.com ? We have several mirrors in China.

[2015-11-11 15:10] Galexrt commented on #48
@bluesalt I created the repo on hub.docker.com now. The build should be done in about 20 minutes.

[2015-11-11 17:42] Galexrt commented on #48
@bluesalt I just checked the state on docker hub. The images is ready.

[2015-11-11 23:24] bluesalt commented on #48
@Galexrt seems the problem is stil there. I even tried a complete fresh containers creations, and the error was still there. And here is the latest log [docker-compolse.log](https://gist.github.com/bluesalt/29a05eb898fff5c65451).
Here is the images  list
[code]

BTW, I managed to pull the image from quay.io through a proxy service.

[2015-11-12 06:24] Galexrt commented on #48
I pushed a fix for this to the repo. I'll try to test it soon.
I created a docker hub repo for both images.

[2015-11-12 16:12] bluesalt commented on #48
Awesome!
I used the docker hub image and the message search works now!

[2015-11-12 17:32] Galexrt commented on #48
@bluesalt That's good to hear! Thanks for the report.

[2015-11-17 06:34] npcode opened #49 "Cannot configure ZULIP_SETTINGS_AUTH_LDAP_USER_SEARCH"
When I configure it and try to login, zulip responds 500 Internal Server Error and logs as follows:
[code]

It works fine when I set AUTH_LDAP_USER_SEARCH with the same value in `/etc/zulip/settings.py.`

[2015-11-17 06:36] npcode commented on #49
I guess that docker-compose.yml stores the value as a string, not a python object, and it causes the problem.

[2015-11-17 08:14] Galexrt commented on #49
Could you provide an example value for the `AUTH_LDAP_USER_SEARCH`?
So I can test and fix it properly. Thanks.

[2015-11-17 09:29] Galexrt commented on #49
Can you try with the latest `v1.3.9` image?

[2015-11-17 11:33] reyman opened #50 "Add documentation for upgradeing and data persistence"
Hi,
I'm really interested to try this docker image on my 4GO VPS.

After installation of this image in production, is it easy to upgrade this image without any lost of data ? I see this is better to manage persistant file using [volume](http://stackoverflow.com/questions/26734402/how-to-upgrade-docker-container-after-its-image-changed) .

Thanks for your help,
Best.
Sr

[2015-11-17 12:10] Galexrt commented on #50
The default way using the `docker-compose.yml` is that in zulip uploaded files are saved in a volume on the host. All cotainers that save persistent data, save it to a volume.

See https://github.com/Galexrt/docker-zulip/blob/master/docker-compose.yml#L51-L52

[2015-11-17 17:11] reyman commented on #50
Ok, thanks, so to upgrade the images, what is the best way ?

[2015-11-17 17:15] Galexrt commented on #50
You stop your current running instance and then start with the new image(s).

[2015-11-18 10:29] npcode commented on #49
Thanks. The error does not reproduce anymore at v1.3.9. But now it seems that zulip ignores `ZULIP_SETTINGS_AUTH_LDAP_USER_SEARCH` in docker-compose.yml and uses AUTH_LDAP_USER_SEARCH in /etc/zulip/settings.py.

I didn't quote the value as follows:

[code]

[2015-11-18 10:57] Galexrt commented on #49
You have to quote the value in the docker-compose.yml, with single quotes
or double quotes.

Can you do `docker cp ZULIP_CONTAINER_NAME:/etc/zulip/settings.py .;cat
settings.py` and post the output as a gist please?

On Wed, Nov 18, 2015 at 11:29 AM Yi EungJun <notifications@github.com>
wrote:

[2015-11-18 11:58] npcode commented on #49
I quoted it with single quotes.

    ZULIP_SETTINGS_AUTH_LDAP_USER_SEARCH: 'LDAPSearch("ou=mycompany,dc=mycompany,dc=com", ldap.SCOPE_SUBTREE, "(&(mail=%(user)s)(objectClass=user))")'

But it still not works.  Here is the output of `docker-compose up zulip`:

[code]

Here is my /etc/zulip/settings.py: https://gist.github.com/npcode/dcff245588768fa30ac7

[2015-11-18 12:20] Galexrt commented on #49
Thanks for the settings.py. I'm looking into it.

[2015-11-18 16:14] reyman commented on #50
Some information about this process for upgrading image of zulip can be added in the documentation perhaps ?

[2015-11-18 17:44] Galexrt commented on #50
@reyman Yes you are right. Information about upgrading should be added to the documentation and `README.md`.

[2015-11-18 19:28] Galexrt commented on #49
@npcode I fixed the problem now. Please repull the `v1.3.9` image and try again.
Please remove the old containers before retrying. Thanks.

[2015-11-19 00:56] npcode commented on #49
Now it works very well. Thanks a lot!

On Thu, Nov 19, 2015 at 4:28 AM, Alexander Trost <notifications@github.com>
wrote:

[2015-11-21 15:20] Galexrt commented on #50
@reyman I added a page about it. See https://github.com/Galexrt/docker-zulip/wiki/Upgrade-Zulip. Is it okay?

[2015-11-21 15:20] #49 closed

[2015-11-21 16:10] reyman commented on #50
Great thx :)
There is another point that is not clear for noob like me, the first image init using docker-compose.

After the first pull image, user need to create a file `docker-compose.yml` in project directory and run docker build using `from quay.io/galexrt/zulip:v1.3.9` isn't it ? I [crosspost](https://github.com/docker/compose/issues/2426) on docker, because i find trat documentation is not

[2015-11-21 16:21] Galexrt commented on #50
@reyman What do you mean with "... the first image init using docker-compose."?

You don't need to create a new `docker-compose.yml`. There is an example `docker-compose.yml` in the repository.
See https://github.com/Galexrt/docker-zulip/blob/master/docker-compose.yml.

[2015-11-21 16:22] #50 closed

[2015-11-21 17:07] reyman commented on #50
Ok  i start to understand. Hum, but when i pull the image like you propose in documentation, this is not clear where the image is uploaded by docker (i'm using ubuntu). If i understand, after pull, and after i found the `docker-compose.yml`, i modify it, build and run the image and that's all ?

[2015-11-21 20:21] Galexrt commented on #50
@reyman You don't need to build the image. When you pull it you get a working image.
The `docker-compose.yml` just keeps the settings, when you run the image using `docker-compose up`.

[2015-11-27 11:12] deevant07 opened #51 "Zulip exited with code 1(stuck while waiting for DB connections)"
Hi, I am not sure if the problem is with config but i am newbie to zulip and docker.

The docker-compose.yml is configured as below.
[code]
The part of the log file which highlights the problem is as follows.
[code]

Detailed log file is attached.

Kindly help in resolving the problem.

I am using the command sudo docker-compose up
[docker-zulip.txt](https://github.com/Galexrt/docker-zulip/files/4

[2015-11-27 11:15] Galexrt commented on #51
Try again with the latest version https://github.com/Galexrt/docker-zulip/releases/tag/1.3.9

[2015-12-01 10:21] deevant07 commented on #51
Hi,

I am not able to pull the image 1.3.9 version from quay.io/galexrt/zulip:v1.3.9 with following error:

Error response from daemon: unable to ping registry endpoint https://quay.io/v0/
v2 ping attempt failed with error: Get https://quay.io/v2/: x509: certificate signed by unknown authority
 v1 ping attempt failed with error: Get https://quay.io/v1/_ping: x509: certificate signed by unknown aut

[2015-12-01 10:43] Galexrt commented on #51
@deevant07 I created the tags on the docker hub now. Should be built in about 30 minutes.

[2015-12-01 11:29] deevant07 commented on #51
Thank you @Galexrt

[2015-12-01 12:05] deevant07 commented on #51
Hi,

I am still facing the issue with version 1.3.9 with below error:

zulip_1     | Zulip configuration succeeded.
zulip_1     | Auto backup enabled.
zulip_1     | === End Initial Configuration Phase ===
zulip_1     | === Begin Bootstrap Phase ===
<B>zulip_1     | Waiting for database server to allow connections ...</B>
rabbitmq_1  |
rabbitmq_1  | =INFO REPORT==== 1-Dec-2015::11:59:18 ===
rabbitm

[2015-12-01 12:52] Galexrt commented on #51
@deevant07 Can you provide your current `docker-compose.yml`? Remove all security data from it (passwords, etc.)

[2015-12-02 03:47] deevant07 commented on #51
Hi,

Please find below the <code>docker-compose.yml.</code>

<I>
database:
  image: "galexrt/zulip-postgresql-tsearchextras:latest"
  environment:
    DB_NAME: zulip
    DB_USER: zulip
    DB_PASS: zulip
  volumes:
    - "/opt/docker/zulip/postgresql/data:/var/lib/postgresql:rw"
memcached:
  image: "sameersbn/memcached:latest"
  restart: always
rabbitmq:
  image: "rabbitmq:3.5.5"
  hostname: zulip

[2015-12-02 08:24] Galexrt commented on #51
@deevant07 You are missing some environment variables for the zulip container.
On the first look, you are missing the `DB_*` env variables. Please add them or download the neweset version of the `docker-compose.yml` https://github.com/Galexrt/docker-zulip/blob/master/docker-compose.yml and try again please.

[2015-12-02 10:35] deevant07 commented on #51
Thanks @Galexrt

Installation is done successfully but facing one issue on signup.
<I>
Your e-mail does not match any existing open organization. Use a different e-mail address, or contact admin@domain.com with questions.
</I>

I have gone through some links with the solution to edit the manage.py file but as i am running from docker i am not able to find the file on host machine directory.

[2015-12-02 18:40] Galexrt commented on #51
@deevant07 You need to configure the email settings in the `docker-compose.yml`.

See https://github.com/Galexrt/docker-zulip/wiki/Configuration and https://github.com/Galexrt/docker-zulip/wiki/Zulip-Email-SMTP-Configuration.

Closing as of the "bug" is fixed.

[2015-12-02 18:40] #51 closed

[2015-12-07 09:21] Seinth opened #52 "LDAP backend doesn't work"
Looks like there are some problems with LDAP integration, I can't login to Zulip based on LDAP.

docker-compose part:

What kind of log are needed for debugging?

[2015-12-07 20:01] Galexrt commented on #52
Can you run, I think it should be `docker exec ZULIP_CONTAINER_NAME cat /var/log/supervisor/*zulip*` and post the output as a gist please. That will help debugging the problem.

[2015-12-07 20:01] Galexrt commented on #52
Can you run, I think it should be `docker exec ZULIP_CONTAINER_NAME cat /var/log/supervisor/*zulip*` and post the output as a gist please. That will help debugging the problem.

[2015-12-08 13:42] Seinth commented on #52
https://gist.github.com/Seinth/8bd99e3098d740280dd4

No additional log appear after unsuccessfully login attempt.

[2015-12-08 16:51] #45 closed

[2015-12-08 17:04] Galexrt commented on #52
@Seinth Can you provide the output of all `zulip-*` log files from the container.
Please run `tail -n +1 /var/log/supervisor/zulip-*` inside the container and post the output.

Could you post your `docker-compose.yml` (without passwords, secrets), so I can take a look at it and see if there's a problem.

[2015-12-08 17:27] Seinth commented on #52
Other log files are empty (have a look at ls -la output, 5th column contains size). I'll post docker-compose.yml tommorow morning.

[2015-12-09 06:58] Seinth commented on #52
docker-compose.yml
https://gist.github.com/Seinth/b43fa5e1278cae3e819f

[2015-12-09 08:25] Galexrt commented on #52
The `ZULIP_AUTH_BACKENDS` must be for LDAP `ZULIP_AUTH_BACKENDS=zproject.backends.ZulipLDAPAuthBackend`, see https://github.com/zulip/zulip/blob/master/zproject/local_settings_template.py#L24.

Also see the wiki page https://github.com/Galexrt/docker-zulip/wiki/Zulip-LDAP-Authentication.
BTW The containers doesn't need to be privileged.

[2015-12-09 08:46] Seinth commented on #52
Tested, now I'm getting 500:

    500: Internal server error.

    Well oops. This one's probably our fault. Sorry about that! Updates on service availability are posted to @ZulipStatus on Twitter.

    If you'd like, you can drop us a line to let us know what happened.

No new logs in /var/log/supervisor

AUTH_BACKEND line in docker composer:
```- ZULIP_AUTH_BACKENDS=zproject.backends.ZulipLDAPAu

[2015-12-09 14:03] Galexrt commented on #52
@Seinth Are you 100% sure there are no new log lines in `/var/log/zulip*` and `/var/log/supervisor/zulip*`?

[2015-12-09 14:51] Seinth commented on #52
So far I was checking only ```/var/log/supervisor/zulip```
In ```/var/log/zulip``` 4 file changed after access attempt:
https://gist.github.com/Seinth/051eab3430f368a5e515

[2015-12-12 11:40] Galexrt commented on #52
@Seinth Just that you know, I'm looking into this problem. But a fix will take some time, sry bout that.

[2015-12-12 11:58] Galexrt commented on #52
BTW I updated the LDAP wiki page https://github.com/Galexrt/docker-zulip/wiki/Zulip-LDAP-Authentication.

I added an env var `ZULIP_LDAP_ENABLED` to enable the configuration of the LDAP settings (Currently in the latest dev image that is being built). You would need to set `ZULIP_LDAP_ENABLED` to `True`. `ZULIP_LDAP_ENABLED` enables the configuration of LDAP from now on.

[2015-12-13 13:47] Galexrt commented on #52
@Seinth I pushed some changes to the dev branch.
Can you repull the image `quay.io/galexrt/zulip:dev` and try again with the mentioned `ZULIP_LDAP_ENABLED` set to `True`.
Thanks for testing this, I personally don't have an LDAP server to test with.

[2015-12-13 14:43] Galexrt opened #53 "emoij disappears immediately with docker-zulip"
See https://github.com/zulip/zulip/issues/316 for backstory.

[2015-12-14 13:39] Seinth commented on #52
Thanks! But I have bad news:

I pulled new image, stopped and removed containers, clean volume content and execute docker-compose up

Sam error on web site (500).
https://gist.github.com/Seinth/d33876b50a3532cc299e

[2015-12-14 14:21] Galexrt commented on #52
I think I'll see the error now. `ImportError: No module named zproject.backends`
Thanks for the log. This should be fixed soon.

[2015-12-14 14:25] Galexrt commented on #52
@Seinth Can you try again with `ZULIP_AUTH_BACKENDS` set to `ZulipLDAPAuthBackend`.

`- ZULIP_AUTH_BACKENDS=ZulipLDAPAuthBackend`

[2015-12-14 14:32] Seinth commented on #52
Login screen now appear, while trying to log in I got:
```Please enter a correct email and password. Note that both fields may be case-sensitive.```
The only interesting part of log:
https://gist.github.com/Seinth/d310543d6ec9a46ece4f

Do you know where I can look for LDAP log?

[2015-12-14 14:39] Seinth commented on #52
I was able to get another 500 while trying to "register":
https://gist.github.com/Seinth/6bb07da8a6f6e54ba991

[2015-12-14 19:58] Galexrt commented on #53
@npcode This problem should now be fixed in the latest dev version of the image.
Can you try again with the `quay.io/galexrt/zulip:dev` image?

[2015-12-14 20:03] Galexrt commented on #52
@Seinth In the log https://gist.github.com/Seinth/6bb07da8a6f6e54ba991 the problem is that you didn't configure a working/reachable smtp server. A working smtp server is needed from zulip.

I don't see a problem with docker-zulip in the log https://gist.github.com/Seinth/d310543d6ec9a46ece4f.
I can't really help you with LDAP, because I don't have a LDAP server.
I would therefore advise you to cre

[2015-12-14 20:03] #52 closed

[2015-12-15 04:04] npcode commented on #53
Thanks for the fix but the image does not work. When I run `docker-compose up -d` and open the web page it displays:

[code]

The message doesn't disappear even after 30 mins.

[2015-12-15 19:33] Galexrt commented on #53
Could you enter the container and post the output of all files in the folder `/var/log/zulip` as a gist?
Enter the container using `docker exec -it ZULIP_CONTAINER_NAME /bin/bash` and use `cat` on the log files in the `/var/log/zulip` please. Thanks!

The logs would really help me fix the problem. :)

[2015-12-28 15:47] jazzcrack opened #54 "How to configure the docker-compose.yml?"
First, I'm new at Docker. So, sorry for my dumb question.

1. I have successfully installed Docker and got the container (docker pull quay.io/galexrt/zulip).
2. Now, i should configure the docker-compose.yml before run the container. How? Where do i find the docker-compose.yml?

Thx for any help.

[2015-12-28 18:32] Galexrt commented on #54
There is a wiki page about configuring the `docker-compose.yml`, see https://github.com/Galexrt/docker-zulip/wiki/Configuration.

You get the docker-compose.yml through downloading a copy of the repo here, see https://github.com/Galexrt/docker-zulip/archive/master.zip

[2016-01-13 16:18] jazzcrack commented on #54
What about a step by step tutorial ...

1. docker pull quay.io/galexrt/zulip:v1.3.9
2. ...
3. ...

I don't get it, isn't there somewhere already the docker-compose after "docker pull quay.io/galexrt/zulip:v1.3.9"?

[2016-01-13 17:26] Galexrt commented on #54
1. Install docker-compose (see https://docs.docker.com/compose/install/)
2. Download this github repository https://github.com/Galexrt/docker-zulip/archive/master.zip
3. Extract the archive to a folder and enter it
4. Open the ``docker-compose.yml`` in the folder and modify it to your needs. See https://github.com/Galexrt/docker-zulip/wiki/Configuration
5. Run ``docker-compose up`. Now all require

[2016-01-13 17:26] #54 closed

[2016-01-14 12:29] jazzcrack commented on #54
Thx

[2016-01-18 08:32] Galexrt commented on #53
Closing this because it should be fixed now.

[2016-01-18 08:32] #53 closed

[2016-01-22 13:03] Galexrt opened #55 "Add app:certificates to generate custom certificates"
ToDo:
- [x] Add app:certificates to generate custom certificates
- [ ] ~~Add custom vars to set the certificates location (`CERT_LOCATION_KEY`, `CERT_LOCATION_CERTIFICATE`).~~

[2016-01-22 13:45] Galexrt opened #56 "Update Docs to fit the latest changes"
- [ ] Update docs/wiki to reflect #55

[2016-01-28 16:17] Galexrt commented on #55
We already have this function as a "function", but after another thought it's bad to add an extra mode for it. I gotta see what I do about this.

[2016-01-28 16:43] Galexrt commented on #55
This feature is now in the `dev-1.3.10` branch, should come soon to the version branch.

[2016-01-28 16:43] #55 closed

[2016-02-09 12:14] Galexrt commented on #56
I'll work on this soon. But I'll first have to finish the "official" Zulip image.

[2016-02-18 09:24] xeor opened #57 "Feature: Allow to disable HTTPS"
I need to make a couple of changes that is not part of the main django configuration.
I was very glad to see the `post-setup.d` part in the entrypoint (https://github.com/Galexrt/docker-zulip/blob/master/entrypoint.sh#L474). But looks like the check there is wrong.
See;
[code]

It is missing a `not`. And those 4 lines are not even necessary, since the loop below wont fire any script if it can't fi

[2016-02-18 09:59] Galexrt commented on #57
I'm working on a fix.

Could you tell me what changes you want to make to the Django config? Because then I could consider adding environment variables for the configuration of Django.

Thanks for the bug report!

[2016-02-18 10:04] xeor commented on #57
Thansk for the quick response! :)

I am using a proxy in front of this container that takes care of both https and some other things. So I had to change out the nginx config, killing https, and killing the redirect.

[2016-02-18 10:17] Galexrt commented on #57
@xeor I could add an environment Variable for disabling https and https redirect from the nginx in the container. So you don't need to modify the container files.
Would that be okay for you?

[2016-02-18 10:20] #56 closed

[2016-02-18 10:21] xeor commented on #57
That would be a very acceptable solution! I would imagine many people wanting to do this as well, so a generic fix would be good.

The `post-setup.d` issue would still be nice to have tho. Since it's undocumented, maybe you can write a little comment in the `entrypoint` script asking people to submit an issue, if their `post-setup` script fixes something that should be implemented as an environmen

[2016-02-18 10:48] Galexrt commented on #57
I'm not removing the `post-setup.d` feature.
I just add an environment Variable like `DISABLE_HTTPS`, to disable nginx https and the https redirect.

[2016-02-18 11:11] xeor commented on #57
Cool.. But the `post-setup.d` feature is still broken, as it says that it's not able to find any files, if it finds files..

[2016-02-18 11:32] Galexrt commented on #57
As I already said, I'm going to fix the `post-setup.d ` feature.
I can push the fix in about 30 minutes, after the image has been rebuilt, you can repull the image (`docker pull quay.io/galexrt/zulip:latest`).

[2016-02-18 14:15] Galexrt commented on #57
Can you try again with version `v1.3.9-2` of the image?
In the `v1.3.9-2` I fixed the `post-setup.d` script execution.

[2016-02-18 14:25] Galexrt opened #58 "Docker Zulip Release v1.3.10"
Current dev branch: `dev-v1.3.10`

Wait for Zulip to merge the modified scripts and the `dockervoyager.pp` manifest, see https://github.com/zulip/zulip/pull/450.

[2016-02-18 14:30] Galexrt commented on #57
The `DISABLE_HTTPS` env variable has been implemented in the `dev-v1.3.10` branch.
Please don't use the `dev-v1.3.10` image.
Closing as the feature has been implemented and we'll just have to wait until Zulip merges the official Dockerfile Pull request for this to work.

[2016-02-18 14:30] #57 closed

[2016-02-25 18:18] buyenne opened #59 "ERR_TOO_MANY_REDIRECTS - related to docker-zulip or jwilder/nginx-proxy ?"
Hi,

Quick description of the configuration:

- got the docker-compose.yml configured, server ist running fine and accessible through https://ipv4:32xxx Port. I can add streams etc.
-  Only added **VIRTUAL_HOST: "zulip.mydomain.com"** for the reverse proxy.
- Ports 80 and 443 are used by jwilder/nginx-proxy
- Certs are fom Cacert and running fine with other subdomains.

The Problem is, I get ERR_T

[2016-02-26 06:45] Galexrt commented on #59
What docker image version/tag are you using?

Could you please provide the access.log of the Zulip container and attach it as a gist. (To copy the access.log out of the container, use `docker cp ZULIP_CONTAINER_NAME:/var/log/nginx/access.log`)

[2016-02-26 06:45] Galexrt commented on #59
What docker image version/tag are you using?

Could you please provide the access.log of the Zulip container and attach it as a gist. (To copy the access.log out of the container, use `docker cp ZULIP_CONTAINER_NAME:/var/log/nginx/access.log`)

[2016-02-26 10:42] buyenne commented on #59
Docker version 1.10.1, build 9e83765

access.log: [https://gist.github.com/buyenne/0dcae1e6d96aaea98f2e#file-zulip_nginx_access-log](url)

cheers

Alexandre

[2016-02-26 13:21] Galexrt commented on #59
Could you please provide the configuration/command you use to run jwilder nginx, so I can debug this on my site here. I think I almost know what the problem causes.

[2016-02-26 16:29] buyenne commented on #59
Sure,

`docker run -d -p 80:80 -p 443:443 --name NGINX_Reverse_Proxy_SSL -v /etc/ssl/certs:/etc/nginx/certs -v /var/run/docker.sock:/tmp/docker.sock:ro jwilder/nginx-proxy`

Pulled 24.02.2016

[2016-02-26 19:16] Galexrt commented on #59
@buyenne I'm looking into it. Thanks for the informations!

[2016-02-26 21:32] buyenne commented on #59
Your welcome. If I can help in some way, just ask.

[2016-02-28 10:20] surajys commented on #33
I successfully registered 2 users. I got the registration mail also.
If I click that link their profile page is opening.
after logout  I am unable to login again using browser . (There is no username password field)
For me login link is not working . if I click that link nothing is happing,  only  page will redirect to  "https://zulip.example.com/login"   No error message  also.
What is the issue

[2016-02-28 10:24] surajys opened #60 "Blank login page"
I successfully registered 2 users. I got the registration mail also.
If I click that link their profile page is opening.
after logout I am unable to login again using browser . (There is no username password field)
For me login link is not working . if I click that link nothing is happing, only page will redirect to "https://zulip.example.com/login" No error message also.
What is the issue ?

![lo

[2016-02-28 12:46] Galexrt commented on #60
Could you please provide some logs from the container.
Run `docker exec -it ZULIP_CONTAINER_NAME /bin/bash`, run `cat /var/log/zulip/*` and post the output as a gist. Thanks!

[2016-02-28 13:10] Galexrt commented on #59
@buyenne I haven't used `jwilder/nginx-proxy` in a long time. Do you need to set some flags or environment variables on the zulip container for the jwilder proxy to work?

[2016-02-28 13:29] Galexrt commented on #58
I'm going to move the changes from my pull request in the repo so I can finally release it.

[2016-02-28 15:44] buyenne commented on #59
@Galexrt only one flag (environment vaiable) `VIRTUAL_HOST=subdomain.youdomain.com`

I have added this to the docker-compose.yml
`environment:
    VIRTUAL_HOST: "zulip.buyenne.com"
    DB_HOST: "database"
    MEMCACHED_HOST: "memcached"
    REDIS_HOST: "redis"
    RABBITMQ_HOST: "rabbitmq"`

[2016-02-28 15:50] Galexrt commented on #59
@buyenne Could you post your full `docker-compose.yml` without any compromising data, so I can take a better look at the problem.

[2016-02-28 16:08] buyenne commented on #59
@Galexrt - updated the gist

[2016-02-28 16:12] surajys commented on #60
zulip log files https://gist.github.com/surajys/84f108c1aef870b0ffe0

[2016-02-28 16:37] surajys commented on #60
There is a problem with ```rabbitmq-server``` also. It is not starting properly. I removed ```rabbitmq-server``` including config files (```apt-get remove --purge rabbitmq-server```) . After that I run ```./root/zulip/scripts/setup/configure-rabbitmq``` script now ```rabbitmq``` is working .

[2016-02-28 17:53] surajys commented on #60
If I continuously click login link it will generate these error messages in log files.

![zulipauth](https://cloud.githubusercontent.com/assets/17525956/13380838/34a76518-de72-11e5-86a9-567b0bdbf189.png)

[2016-02-28 18:16] Galexrt commented on #60
The messages in the picture aren't errors.
They are just a server access log, that shows who has opened a page.

I'm looking into the error you have.

What database image are you using? The default one from the `docker-compose.yml` or a custom one?

[2016-02-28 20:57] buyenne commented on #59
I tried now the Variable "VIRTUAL_PROTO=https" to force the proxy to communicate with zulip only through https. Now I get a 502. Will do more tests.

[2016-02-28 23:03] buyenne commented on #59
Got it!!!

Just add
` environment:
    VIRTUAL_HOST: "zulip.domain.com" /
    VIRTUAL_PROTO: "https" /
    VIRTUAL_PORT: "443"
`

[2016-02-28 23:10] Galexrt commented on #59
Thanks for testing!
That's good news to hear! I'm going to add this info to the wiki.

Later I will add an option to disable https in the zulip container and disable the https redirect, so these options aren't needed, but it'll take some time to add this.

[2016-02-29 10:47] surajys commented on #60
I am using default database.

[2016-02-29 11:11] Galexrt commented on #60
@surajys Could you please manually post the output of All files in the container's `/var/log/zulip/` folder in the gist. It looks like you only posted one file's content.
(`docker exec -it ZULIP_CONTAINER_NAME /bin/bash` and do the `cat /var/log/zulip/FILE_NAME`)

[2016-02-29 11:13] Galexrt commented on #59
Added the info to the wiki. https://github.com/Galexrt/docker-zulip/wiki/Zulip-with-JWilder's-Nginx-Proxy

[2016-02-29 11:13] #59 closed

[2016-02-29 11:20] reyman commented on #58
Hi, I'm interested to run a docker image of zulip, and i see recently the PR you manage here : https://github.com/zulip/zulip/pull/450

What is the best option actually, wait and see for a merge on zulip repository ? or install directly your docker release / image ?

Thanks a lot for your work !
Rey.

[2016-02-29 11:36] Galexrt commented on #58
@reyman I currently don't have an up to date status of the PR https://github.com/zulip/zulip/pull/450 and when it may get merged.

But a good way would be to use the image here, cause the version in the PR has less features (The PR doesn't contain the automatic backup and some other fancy stuff).

[2016-02-29 11:40] reyman commented on #58
Ok :)
And i suppose migration between the two images can be made later, so thanks :)

[2016-02-29 14:45] Galexrt commented on #58
@reyman Migrating between them will **not** be possible!

My `galexrt/zulip` image uses different structures than the Docker image in the PR.
I would recommend you using this image here, because it has more features, like automatic backups.

[2016-02-29 15:28] surajys commented on #60
Sorry I don't no how to use docker. What is "ZULIP_CONTAINER_NAME" means ? I will share all the log files.

[2016-02-29 15:30] Galexrt commented on #60
Do you use `docker-compose` to start the container?
`ZULIP_CONTAINER_NAME` is the name of the container Zulip runs in.

[2016-02-29 15:41] surajys commented on #60
I never used ```docker-compose```. I followed [official document](https://zulip.org/server.html) to configure Zulip, and I am using oracle VirtualBox for this. (for testing) .

[2016-02-29 15:49] Galexrt commented on #60
What command do you use to run Zulip? Is it something like
`supervisorctl...` or `docker...`?

On Mon, Feb 29, 2016, 4:41 PM surajys <notifications@github.com> wrote:

[2016-02-29 15:54] surajys commented on #60
```supervisorctl```

[2016-02-29 16:38] Galexrt commented on #60
You are at the wrong project. This is docker-zulip and not the Zulip Project.
This is the Zulip Project: https://github.com/zulip/zulip.

I'm closing this issue now, please create an Issue at the Zulip Project.

BTW your problem seems to be related to a misconfiguration.

[2016-02-29 16:38] #60 closed

[2016-03-01 13:05] xeor commented on #48
Did this problem come back? I'm using `quay.io/galexrt/zulip-postgresql-tsearchextras:latest` from now, created `2016-01-28T22:45:37.813858624Z`. And I have the problem now.. Anyone else?

[2016-03-05 23:08] reyman opened #61 "Exited with code 1 during zulip launch"
Hi,
I have some problem with settings of docker compose in dev version. I'm waiting release to retry.

But i have also some problem with 1.3.9 and postgres role :

[code]

And later
[code]

The gist : https://gist.github.com/reyman/4d5a8910a3c7c6217025

I need to remove old volume ? If zulip user and db exist, why not reuse it ?

[2016-03-05 23:14] reyman commented on #61
Ok i found the problem, my log are truncated by mosh client ... don't know why :
[code]
Try to solve and close if its works.

[2016-03-07 06:49] Galexrt commented on #61
Until version `1.3.9-*` the environment variables have to be in format like `ZULIP_SETTINGS_*`. The format `SETTING_*`  is used in `1.3.10`+ but due to a PR at the zulip project that is still pending merge, I couldn't release `1.3.10` yet.

[2016-03-07 08:03] reyman commented on #61
I have problem with dev version to find the good value for `docker-compose.yml`, so i return to 1.3.9, with `ZULIP_SETTINGS_*`

[2016-03-07 08:16] Galexrt commented on #61
The dev version isn't supposed to be working ;)

I'm currently working on releasing the 1.3.10 version soon.

[2016-03-07 09:31] reyman commented on #61
Great, so i try to reinstall when 1.3.10 is out :)
It's more a question about documentation but we can use any existing image of postgres image for link with zulip  ?

[2016-03-07 10:31] Galexrt commented on #61
@reyman Could you please test again with image `dev-1.3.10`? If you encounter any bugs please report them here.

[2016-03-07 10:31] Galexrt commented on #58
Pushed the changes required for Zulip 1.3.10 to the branch `dev-1.3.10`.

[2016-03-07 12:32] reyman commented on #61
Ok, i have this error on docker-compose up :

[code]

[2016-03-07 12:35] Galexrt commented on #61
@reyman I pushed a fix for that error. In about 20 minutes you can repull and try again. Thanks for testing it!

[2016-03-07 13:37] reyman commented on #61
I try to repull the image dev-1.3.10, but it say to me that image "is up to date";
Building is finished ?

[2016-03-07 13:41] Galexrt commented on #61
@reyman The Image build process on quay.io is stuck.
Can you try with the docker hub image? https://hub.docker.com/r/galexrt/zulip/

[2016-03-07 14:15] reyman commented on #61
@Galexrt another error at launch :

[code]

[2016-03-08 15:45] Galexrt commented on #61
@reyman Sorry, for the late response, I looked into the problem and I just pushed the fix. The image should be built in about 45 minutes.

Thanks for testing!

[2016-03-09 09:25] reyman commented on #61
Hum, i have another error :

[code]

My settings are set in docker-compose.yml :

    SETTING_MEMCACHED_LOCATION: "memcached:11211"
    SETTING_RABBITMQ_HOST: "rabbitmq"
    SETTING_REDIS_HOST: "redis"
    SETTING_EXTERNAL_HOST: "team.comnmodel.org"
    SETTING_ZULIP_ADMINISTRATOR: "rey@gmail.com"
    SETTING_ADMIN_DOMAIN: "comnmodel.org"
    SETTING_NOREPLY_EMAIL_ADDRESS: "noreply@comnmodel.org"

[2016-03-09 09:32] Galexrt commented on #61
@reyman I fixed this bug now. Image should be built in about 30 minutes.

Thanks for testing!

[2016-03-09 10:10] reyman commented on #61
Another
[code]

[2016-03-09 10:18] Galexrt commented on #61
@reyman I pushed another fix. As always image should be built in about 25-30 minutes.

[2016-03-09 12:10] reyman commented on #61
Another, problem of file permission it seems :

[code]

[2016-03-09 13:42] Galexrt commented on #61
@reyman Could you post more lines of the last error you got.

[2016-03-09 14:07] reyman commented on #61
@Galexrt yes

[code]

[2016-03-09 14:10] Galexrt commented on #61
Can you add the environment variable `DEBUG=true` to your `docker-compose.yml`, so it hopefully shows me more output.

[2016-03-09 14:15] Galexrt commented on #61
@reyman This should finally fix the problem. Could you please test it again now?
Image should be built in about 25 minutes.

[2016-03-09 15:01] Galexrt commented on #61
@reyman I fixed some some other bugs with the latest commit. Image is built in about 30 minutes.

[2016-03-09 15:05] reyman commented on #61
@Galexrt another error :

[code]

[2016-03-09 15:20] Galexrt commented on #61
@reyman Could you please provide the full logs of the new error as a gist?

[2016-03-09 16:25] Galexrt commented on #61
@reyman I finally found the source of all these errors. Zulip is now based on latest Zulip master and not on a specific version tag. This should fix most errors you had.

[2016-03-09 16:25] Galexrt commented on #61
@reyman I finally found the source of all these errors. Zulip is now based on latest Zulip master and not on a specific version tag. This should fix most errors you had.

[2016-03-09 16:33] reyman commented on #61
@Galexrt Great :) I continue to pull from `sudo docker pull galexrt/zulip:dev-1.3.10` ?

[2016-03-10 09:08] Galexrt commented on #61
@reyman It seems that I now fixed the errors and bugs.
Please repull the latest image and test again.

Thanks for providing help in testing it!

[2016-03-10 14:14] Galexrt commented on #61
Yes,  you can continue to pull from dev-1.3.10. Until I can finally release a stable v1.3.10. Thanks for testing!

[2016-03-10 16:38] reyman commented on #61
@Galexrt There is some problem with existing value in table it seems :
[code]

[2016-03-10 16:47] Galexrt commented on #61
@reyman Could you please enter the container using `docker exec` and post content of the `/etc/zulip/settings.py` and `/home/zulip/deployments/current/zproject/settings.py` without sensitive data?

[2016-03-10 18:03] reyman commented on #61
Hum i cannot test before tonigh or tomorow (no ssh in train 😀) but the
container failed to start so im not sûre i can make à docker exec on it.

Le jeu. 10 mars 2016 17:47, Alexander Trost <notifications@github.com> a
écrit :

[2016-03-10 18:11] Galexrt commented on #61
@reyman No problem. But you can use `docker cp` to get the files out of the container ;)
Thanks for the help!

[2016-03-13 11:29] reyman commented on #61
Sorry for the delay

settings from /etc/zulip/settings.py
[code]

[2016-03-13 12:05] Galexrt commented on #61
@reyman I think I now know what one of the problems is.
Could you show what files are listed (with `ls -ahl` option) in your data mount on your host, then I can tell you need to do to fix your problem, that the entrypoint always tries to create the database default data.

Other bugs I found (will fix):
1. I'm adding exceptions more variables that need to be in another config file then the default

[2016-03-13 12:06] Galexrt commented on #58
Closing as #61 is the last issue to be resolved before the new release can be released.

[2016-03-13 12:06] #58 closed

[2016-03-13 17:19] reyman commented on #61
Yeah, the file into `/data`
[code]

[2016-03-13 17:28] Galexrt commented on #61
Is this your host data mount folder or the container one? (the host data mount folder with the zulip, postgresql, etc. folder in it.)
Run `ls -ahl *` in your hosts mount folder.

[2016-03-13 17:29] reyman commented on #61
ah in the container sorry, i check

[2016-03-13 17:33] Galexrt commented on #61
And the docker-compose.yml volumes points to it?

[2016-03-13 17:34] Galexrt commented on #61
Taken from the default `docker-compose.yml`
[code]
Then your host mount directory would be `/opt/docker/zulip/zulip`, did you change the directory?

[2016-03-13 18:20] reyman commented on #61
You're right, here the content :
[code]

[2016-03-13 18:30] Galexrt commented on #61
Create a file at `/opt/docker/zulip/zulip` named `.initiated` and try again. That should fix your problem.

[2016-03-13 18:38] reyman commented on #61
I have one error :

[code]

[2016-03-13 23:01] Galexrt commented on #61
@reyman I'm going to fix the postsetup user creation script returning a bad return code. But so that you know, this isn't a "real"/bad error.

Thanks for helping me test it! :)

[2016-03-14 08:17] Galexrt commented on #61
I pushed a small change for this, as it should now not show this as an error anymore.

[2016-03-14 08:17] #61 closed

[2016-03-14 09:00] reyman commented on #61
Yes, i retry later.
When i launch `sudo docker-compose up`, how can i get the hand after execution without closing ?

[2016-03-14 10:15] Galexrt commented on #61
Add `-d` to the `docker-compose -d up`.

[2016-03-14 15:47] reyman commented on #61
Yeah, it works :)

Juste, when i log, i have this error

[code]

[2016-03-14 15:49] Galexrt commented on #61
Do you run Zulip behind a proxy?

On Mon, Mar 14, 2016, 4:48 PM Rey <notifications@github.com> wrote:

[2016-03-14 16:10] reyman commented on #61
Hum, Zulip run using the nginx docker nginx proxy image `osixia/openldap`

`2d9c16de8669        jwilder/nginx-proxy                                     "/app/docker-entrypoi"   2 weeks ago         Up 2 hours          0.0.0.0:80->80/tcp, 0.0.0.0:443->443/tcp        nginx`

I configure using the option given in the doc.
[code]

[2016-03-14 16:17] Galexrt commented on #61
Could you try running zulip on different ports without the proxy?

[2016-03-14 16:27] reyman commented on #61
Ok, i stio nginx-proxy, and rebuild image using port 8080 and 4433, without VIRTUAL_* option

[2016-03-14 18:31] reyman opened #62 "Ldap config question"
There is something i don't understand in option probably, i activate the `ZULIP_AUTH_BACKENDS: "ZulipLDAPAuthBackend"` and i use `SETTING_AUTH_LDAP_USER_SEARCH: "LDAPSearch(\"ou=Users,dc=comnmodel,dc=org\",ldap.SCOPE_SUBTREE,\"(uid=%(user)s)\")"` to find the correct user in LDAP.

So, i don't use the email to login.

When i look to login page, there is only email / password login ... so how can i

[2016-03-14 18:36] reyman opened #63 "Nginx proxy problem "CSRF verification failed""
I use Zulip behind the nginx docker proxy image `jwilder/nginx-proxy `

`2d9c16de8669        jwilder/nginx-proxy                                     "/app/docker-entrypoi"   2 weeks ago         Up 2 hours          0.0.0.0:80->80/tcp, 0.0.0.0:443->443/tcp        nginx`

I configure using the option given in the doc.
[code]
Login page is accessible, but just after authentification i have this, whate

[2016-03-14 21:21] Galexrt commented on #63
@reyman What do you mean by "rebuild image"?

[2016-03-14 21:24] Galexrt commented on #62
Can you start the Zulip container and `docker exec -it /bin/bash` and post the contents of the `/etc/zulip/settings.py` and the `/home/zulip/deployments/current/zproject/settings.py` (Remove your sensitive data).
When I have the configs I can look into your issue. :)

[2016-03-14 21:28] reyman commented on #63
I call `rebuild of the image` the `sudo docker-compose up -d` on the last pull. But my view is probably not correct, it's only configuration of global variable i suppose.

[2016-03-14 21:45] Galexrt commented on #63
I leave this as a note for me tomorrow (just in case I forget it :D):
@Galexrt Check what headers are forwarded from jwilder's nginx.
[code]

[2016-03-14 22:36] reyman commented on #62
You can find the two gist here :

https://gist.github.com/06ca03d5762f1ba67174

https://gist.github.com/e0f02151a516e7b76f2f

Thanks for helping,
Sr.

[2016-03-15 12:19] Galexrt commented on #62
@reyman Can you try again with the new `dev` version of the image?
Please post your configs then again, so I can see what causes the LDAP config troubles.

[2016-03-15 14:37] reyman commented on #62
Hi,
I cannot run the dev image, i have an error because of my password which contain `@`
[code]

[2016-03-15 14:51] Galexrt commented on #62
@reyman Could you check in what config file the AUTH_LDAP_BIND_PASSWORD with your password is located in.

[2016-03-15 14:57] reyman commented on #62
@Galexrt Into `zulip_zulip_1:/home/zulip/deployments/current/zproject/settings.py`

[2016-03-15 15:16] Galexrt commented on #62
@reyman I just pushed a fix that fixes the other fix that should have fixed that.
TL;DR This should fix the LDAP configuration problem.

Image should be built in about 15 minutes.

[2016-03-15 15:34] reyman commented on #62
Same with EMAIL :
[code]

[2016-03-15 17:02] Galexrt commented on #62
@reyman I pushed another fix. Repull the image and try again please.

[2016-03-15 17:21] reyman commented on #62
OK, image run, but LDAP login page is not good :

[2016-03-15 21:17] Galexrt commented on #62
@reyman Now that the image is running again, could you please post the new configs again, so I can see if the setting variables are at the right position.

[2016-03-15 21:50] reyman commented on #62
Ok :)

https://gist.github.com/cf59c7ca4a03834029bb

[2016-03-15 21:53] Galexrt commented on #62
@reyman you did forgot to remove a password in the `/etc/zulip/settings.py`. Please remove your password.

[2016-03-15 22:17] reyman commented on #62
https://gist.github.com/2435a9163f1eaec6aa36

https://gist.github.com/9cf4cdf149e8438a9ff7

Thx, i remove the pass ...

[2016-03-15 22:20] Galexrt commented on #62
The password is still there: https://gist.github.com/9cf4cdf149e8438a9ff7
at the bottom of the file, line: 352.

On Tue, Mar 15, 2016, 11:17 PM Rey <notifications@github.com> wrote:

[2016-03-15 22:23] reyman commented on #62
Ok i understand, password appear two times because there is two time the line

[code]
https://gist.github.com/d3a5f19df9fb30929471

[2016-03-16 06:36] Galexrt commented on #62
@reyman Could you please run `docker-compose stop` and `docker-compose rm` to get a clean container/config and post these then.

[2016-03-16 09:00] reyman commented on #62
I make that, but env variable continue to appear two time in settings.py :
[code]

[2016-03-16 11:33] Galexrt commented on #62
I'm looking into the settings, that get written twice in the configs.

[2016-03-16 16:09] Galexrt commented on #62
@reyman What environment variable do you use to set the password for LDAP authentication in the Zulip container?

[2016-03-16 16:14] Galexrt commented on #62
@reyman I just tested the image myself and I don't get doubled settings in the configuration files.

Could you please write the whole process of how you start the containers, so I can understand from where the doubled settings originate.

[2016-03-16 16:16] Galexrt commented on #63
@reyman This seems to be a "problem" of the configuration of the jwilder/nginx container. But you should be able to resolve this by looking at this https://github.com/jwilder/nginx-proxy#replacing-default-proxy-settings.

[2016-03-16 16:26] reyman commented on #62
Most of the time i make :

- docker stop zulip_zulip_1
- docker rm zulip_zulip_1
- docker rmi 03204030fe #image of zulip_zulip_1
- docker pull galexrt/zulip:dev

I go to my folder `home/reyman/docker-compose-project/zulip` which contain the `docker-compose.yml` file   , then i run `docker-compose up -d`

After that, i make a docker cp to get the python settings file :

- docker cp zulip_zulip_1:/e

[2016-03-17 21:20] Galexrt commented on #62
@reyman You should use `docker-compose stop`, to stop the whole Zulip
instance and then run `docker-compose up -d` to start it up again.

I strongly discourage from stopping and removing only the Zulip container
and then re-running `docker-compose up -d` to start the Zulip container
again.
It seems that this could may cause the doubled settings that are occuring
in your Zulip instance.

Please try

[2016-03-18 09:06] reyman commented on #62
I try the two command, but i continue to have twice the config in the settings.py

[2016-03-18 09:23] Galexrt commented on #62
@reyman It seems that only you are affected by the settings twice (I tested it and don't get doubled settings).
The doubled settings shouldn't cause problems with the LDAP authentication.

Could you try login into Zulip and post the logs from `/var/log/zulip/` as a gist, so I can see if it's a problem with the Docker image, a configuration issue or a Zulip problem.

[2016-03-18 09:25] reyman commented on #62
@Galexrt I totally believe you, i try now to remove all docker images, redownload and relaunch using only the two command you give me.

Then i post `/var/log/zulip` here when it's done.

[2016-03-22 16:55] reyman commented on #62
@Galexrt i don't see anything in log in first view, is there a more specific ldap log ?

[2016-03-22 19:39] Galexrt commented on #62
@reyman Sry that I have to say that, but I have no idea why the LDAP authentication isn't working (even the logs don't show any errors to me).

I would ask you to create a ticket at the zulip/zulip project and ask there if your LDAP authentication is correct and what this might cause then, because I have to admit that I've run out of ideas.

[2016-03-23 07:54] reyman commented on #62
Hum, i think i found an explanation of wrong front end here :
https://github.com/zulip/zulip/issues/210

Now i need to understand how can i capture correctly email in this frontend to test with email in ldap.

[2016-03-23 13:31] Galexrt commented on #62
@reyman Thanks for digging around and findig this issue in the zulip/zulip project.

Do you still need my help configuring LDAP auth or is it not working cause of the bug?

[2016-03-24 13:52] reyman commented on #62
Hi @Galexrt , Tim answer me, so i can make a new test later in the week-end.

I update the post in consequence, but i hope this is the last obstacle :)

[2016-03-24 15:52] Galexrt commented on #62
@reyman That's good to hear! :)

[2016-03-24 22:07] reyman commented on #62
Hi,

I try to run the special command to query_ldap with manage.py, but it's not easy because the script only run if it not launched with sudo. But zulip is into sudo folder.

Don't understand why, but the script return an error :(

[code]

[2016-03-26 11:21] reyman commented on #62
OK i found the problem, uri need to be indicated like this :

`SETTING_AUTH_LDAP_SERVER_URI: "ldap://51.255.47.40:389"
`

When i test :

[code]

Ldap connection seems to work in command line, but when i try directly with front end, that continue to don't work grrr ...

[2016-03-26 11:50] Galexrt commented on #62
@reyman I have some good news for you :) Emojis are now working in the dev branch.

[2016-03-26 11:57] Galexrt commented on #62
@reyman Do you set the `LDAP_APPEND_DOMAIN`? Could you please grep the config files for the variable name `LDAP_APPEND_DOMAIN`, to see if it's set somewhere.

When you can find a user through `manage.py`, there seems to be a problem with:
A) Zulip frontend, querying for something other than the email address (Maybe the related to `LDAP_APPEND_DOMAIN`)
B) Error in the Matrix

[2016-03-26 12:14] reyman commented on #62
@Galexrt I set `LDAP_APPEND_DOMAIN` to None in docker-compose.yml

I check in `settings.py`, and i see something strange :

[code]
The AUTH_LDAP_USER_SEARCH don't correspond with docker-compose.yml :

`SETTING_AUTH_LDAP_USER_SEARCH: "LDAPSearch(\"ou=Users,dc=comnmodel,dc=org\",ldap.SCOPE_SUBTREE,\"(mail=%(user)s)\")"`

[2016-03-26 12:17] Galexrt commented on #62
@reyman Can you check the bottom of the `settings.py`? All settings are added to the bottom of the file.

[2016-03-26 12:27] reyman commented on #62
@Galexrt You're right, everything seems correct .. i'm lost.

[code]

[2016-03-26 12:31] Galexrt commented on #62
@reyman I know what the problem is :) The entrypoint.sh that sets the configuration should make the line look like this: `AUTH_LDAP_APPEND_DOMAIN = None`, without the quotes. I'm going to fix this.

[2016-03-26 13:13] Galexrt commented on #62
@reyman **Important**: The variable is named `LDAP_APPEND_DOMAIN` and not `AUTH_LDAP_APPEND_DOMAIN`. Can you try again with that change?

[2016-03-26 13:41] reyman commented on #62
@Galexrt I try with this change, with no amelioration :/

[code]

[2016-03-26 13:45] Galexrt commented on #62
@reyman The bottom of the `settings.py` still prints `LDAP_APPEND_DOMAIN: 'None'` with the quotes?

[2016-03-26 14:00] reyman commented on #62
@Galexrt Nop !

[code]

[2016-03-26 14:13] Galexrt commented on #62
@reyman The `LDAP_APPEND_DOMAIN` is added correctly without quotes. So it's another problem.

Does `./manage.py query_ldap ...` still return the correct result?

[2016-03-26 15:31] reyman commented on #62
@Galexrt yes ...

[code]

[2016-03-26 17:48] reyman commented on #62
@Galexrt It seems it's linked to some special configuration during install :
https://github.com/zulip/zulip/issues/315

[2016-03-26 17:49] Galexrt commented on #62
@reyman You need to have a realm and the user in the realm to be able to log in. So at least it is now bug in the image.
Do you need some help on how to create a realm?

[2016-03-26 17:57] reyman commented on #62
@Galexrt Hum, this is strange, when i try to create a realm, it say me that realm already exist ...

[code]

[2016-03-26 18:04] Galexrt commented on #62
@reyman Could you ask at the zulip/zulip for help about LDAP authentication?

Sry, but I never configured or used LDAP authentication yet and can't help you much with it.

[2016-03-26 18:49] reyman commented on #62
I create a new issue here.
I see one more time i have a double config, strange because i only use docker-compose stop and up command now.

https://github.com/zulip/zulip/issues/591

[2016-03-26 19:31] reyman opened #64 "Too many level of symbolic links"
Hi,
Don't know if its linked to my docker or the image but i have this error now when i launch `docker-compose up`

[code]

[2016-03-26 22:07] Galexrt commented on #64
@reyman Looking into it.

[2016-03-26 22:08] Galexrt commented on #62
@reyman I have no idea, why you get doubled settings. But the doubled settings shouldn't cause any problems. I'm closing this for now, if you get new information from the issue at zulip/zulip. Please reopen and mention me. Thanks!

[2016-03-26 22:10] #62 closed

[2016-03-26 22:11] Galexrt commented on #63
@reyman Did you try with changing the header configuration in the `jwilder/nginx-proxy`?

[2016-03-27 09:41] Galexrt commented on #64
@reyman Can you run `ls -ahl`, `tree --noreport -fp` and `find -L ./ -mindepth 15` in the Zulip data folder  (on the host server). Please post the output as a gist.

Please try to remove the folder `settings` in the Zulip data directory on the server and try to start it again.

[2016-03-27 12:49] reyman commented on #64
I run the command in `/opt/docker/zulip` :

[code]

[code]

The last command `find -L ./ -mindepth 15` return nothing

I remove the `settings` folder, zulip start correctly now, strange...

Another info, when i try to login using ldap, i have the error 500 (i open an issue about that in zulip), and this message. Problem seems to be the user creation.

[code]

[2016-03-27 13:30] Galexrt commented on #64
@reyman Can you check if the `/etc/zulip/settings.py` in the container is filled properly at the bottom with your settings? If the settings are there, the issue is "fixed".

[2016-03-27 13:33] Galexrt commented on #63
I'm closing this now, as this is a problem with the `jwilder/nginx-proxy` header configuration.

[2016-03-27 16:23] reyman commented on #63
@Galexrt Sorry for delay, i try to make ldap works first and test nginx later :)

[2016-03-27 16:26] reyman commented on #64
Hi @Galexrt ,
seems ok in settings.py

[2016-03-27 16:31] reyman commented on #64
@Galexrt I continue to have this error

`zulip_1     | 2016-03-27 16:29:15,957 INFO exited: zulip-postsetup-create_user (exit status 0; expected)
`
Settings.py contain double env.

[2016-03-27 16:33] reyman commented on #64
To be sure, i rm all zulip files, images, and repull.

[2016-03-27 17:52] Galexrt commented on #64
[code]
@reyman This is not an error. The user should be created.
Please create a gist with your current `docker-compose.yml` here (without sensitive data), so I can see what user will be created.

[2016-03-27 19:02] reyman commented on #64
Oki sorry, i misread the message.

https://gist.github.com/87dc3b3fda30b543cc4c

[2016-03-27 19:15] Galexrt commented on #64
@reyman Are you sure you removed your email_password?

On Sun, Mar 27, 2016, 9:02 PM Rey <notifications@github.com> wrote:

[2016-03-27 19:28] reyman commented on #64
@Galexrt it's not the direct password, but an application password, but you're right. I remove the password.
https://gist.github.com/0a1cb49b63629edd9a3b

[2016-03-27 19:36] reyman commented on #64
@Galexrt Some news in https://github.com/zulip/zulip/issues/210 , but i'm not sure i can hardcode something in the docker image. Can i stop, modify and rerun with the modification proposed by @timabbot do you think ?

[2016-03-27 21:21] Galexrt commented on #64
@reyman Could you explain the proposed modification by timabbot for me please? I don't really get what I need to fix in the image.

[2016-03-27 21:29] Galexrt commented on #64
@reyman I'm closing this in favor of https://github.com/zulip/zulip/issues/210.
When timabbot explains the proposed modification to me, I will directly implement the fix in the dev branch and later push a new release.

[2016-03-27 21:29] #64 closed

[2016-03-27 22:03] reyman commented on #64
He add some more explanations for the hack in https://github.com/zulip/zulip/issues/210

[2016-03-27 22:13] Galexrt commented on #64
@reyman You can remove the `ZULIP_LDAP_ENABLED: "True"`.

[2016-03-27 22:20] Galexrt commented on #64
@reyman I posted a comment on https://github.com/zulip/zulip/issues/210.

[2016-04-08 14:32] xeor commented on #48
noone?

[2016-04-08 14:48] galexrt commented on #48
@xeor Could you please provide logs from Zulip?
Use the command `docker exec -it ZULIP_CONTAINER_NAME cat /var/log/zulip/*` and post the output as a gist.

[2016-04-14 07:23] xeor commented on #48
Sorry for the delay..

The error I am getting is the same, there isn't any usefull info in the logs:

[code]

If I (inside the database container), execute the command `CREATE EXTENSION tsearch_extras SCHEMA zulip;`, I where getting an error about not finding `/usr/share/postgresql/9.4/extension/tsearch_extras--1.0.sql`. I found this file in the 9.3 directory, so I tried to symlink it.
However, no

[2016-04-14 08:16] galexrt commented on #48
@xeor What image version of docker-zulip are you using?
Try to repull both images with (when using quay.io version):
[code]

Please report back if the problem is still existing.

[2016-04-14 10:20] xeor commented on #48
I was using zulip:v1.3.10 (notice the `v`, it is a different image...). But the new (without `v`) didn't work either. Now I am trying:

* quay.io/galexrt/zulip-postgresql-tsearchextras:latest (Digest: sha256:860a60c25a349738931e712534f87f2b5ac104d723cf59c0c12f7bdb9551fc06)
* quay.io/galexrt/zulip:1.3.10 (Digest: sha256:d548c1b9b1d7ff1fd455c94b03c360d138f036ed92b3d4e1ad3d0e799b0c5696)

Relevant out

[2016-04-14 13:18] xeor commented on #48
hmm, even tho I where able to create the extension. Test-searchs wont show any results. I'll try tomorrow in case there is some indexing job that needs to run.

[2016-04-14 13:40] galexrt commented on #48
@xeor I'm going to test this. But currently you seem to be the only one with the problem.

***

@reyman Could you please try the Zulip text search and confirm this problem if you have it too? Would be awesome of you to check if the problem exists. :)

[2016-04-18 08:36] reyman commented on #48
Hi,
Sorry for delay @galexrt , vacation.
I try zulip last image and text search during this week. I post result here :)

[2016-04-22 11:10] metamorphious opened #65 "Error at container startup"
I tried to start the docker containers but I keep getting the error: `zulip_1 | django.db.utils.InternalError: could not open dictionary file "/usr/share/postgresql/9.4/tsearch_data/en_us.dict": No such file or directory`

I did not use your database container but the original one instead, because I got the error while setting the acl (described here: https://github.com/sameersbn/docker-postgresql

[2016-04-22 11:26] galexrt commented on #65
@metamorphious The problem is that you are using `sameersbn/postgresql` image.
The `sameersbn/postgresql` image doesn't contain a required text search postgres extension.

Did the `galexrt/zulip-postgresql-tsearchextras` image not work for you?
If so I'm going to update the image soon.

[2016-04-22 11:32] metamorphious commented on #65
unfortunately the 'galexrt/zulip-postgresql-tsearchextras' did not work because of the setfacl error. The container stops working after the error. The `sameersbn/postgresql` image has a patch for that in version 9.4-18 (see https://github.com/sameersbn/docker-postgresql/issues/52)
Would be nice if you could update your image.

[2016-04-22 11:36] galexrt commented on #65
@metamorphious I'm going to update the image as soon as possible.

[2016-04-22 11:46] metamorphious commented on #65
That would be very nice... thank you

[2016-04-22 12:34] galexrt commented on #65
@metamorphious I just pushed an update for the image.
I queued a new build on Docker Hub. The build on quay.io is already done.

Could you please try again with the `galexrt/zulip-postgresql-tsearchextras` image and post container logs here?

[2016-04-22 12:49] metamorphious commented on #65
Wow thanks for the fast reaction...

I changed my docker-compose.yml back to

`database:
  image: "quay.io/galexrt/zulip-postgresql-tsearchextras:latest"
  environment:
    DB_NAME: zulip
    DB_USER: zulip
    DB_PASS: zulip
  volumes:
    - "/opt/docker/zulip/postgresql/data:/var/lib/postgresql:rw"`

Now the database doesn't stop from the setfacl error anymore. But it seems missing a file. See t

[2016-04-22 12:50] galexrt commented on #65
@metamorphious I'm looking into this error.

On Fri, Apr 22, 2016, 2:49 PM metamorphious <notifications@github.com>
wrote:

[2016-04-22 18:42] galexrt commented on #65
@metamorphious I pushed another fix, this should fix the error message. I'm sorry, but I couldn't test the image. If it's not working again, just tell me and I look at the problem again.

[2016-04-22 19:38] metamorphious commented on #65
@galexrt Thanks for trying to fix this so fast.
I tested the new image. Looks like we have a version mismatch now :(

database_1  | Creating database: zulip...
database_1  | ERROR:  incompatible library "/usr/lib/postgresql/9.4/lib/tsearch_extras.so": version mismatch
database_1  | DETAIL:  Server is version 9.4, library is version 9.3.
zulip_database_1 exited with code 1

[2016-04-22 19:51] galexrt commented on #65
@metamorphious I'm going to look if I'm going to fix the problem by
downgrading the postgresql version to 9.3 or create an issue at the
zulip/zulip project and wait for an update to postgresql 9.4.

The best would be the second option. But I'm looking into if a downgrade
would work too.

Sorry for the inconvencience caused by this problem.

On Fri, Apr 22, 2016 at 9:38 PM metamorphious <notificati

[2016-04-23 09:18] galexrt commented on #65
@metamorphious I downgraded the image to postgresql 9.3. Could you please try it again?

[2016-04-23 10:08] metamorphious commented on #65
I deleted all previous data and tested your new version. Not sure what causes the next error..

zulip_1     | Creating Zulip cache and third_party_api_results tables ...
zulip_1     | Initializing Zulip Voyager database ...
rabbitmq_1  |
rabbitmq_1  | =INFO REPORT==== 23-Apr-2016::10:02:23 ===
rabbitmq_1  | accepting AMQP connection <0.214.0> (172.17.0.6:50440 -> 172.17.0.4:5672)
rabbitmq_1  |
rab

[2016-04-23 11:14] galexrt commented on #65
@metamorphious Could you please post the full log outputs of all containers and your `docker-compose.yml`.

[2016-04-23 11:30] metamorphious commented on #65
docker-compose.yml:

  image: "quay.io/galexrt/zulip-postgresql-tsearchextras:latest"
  environment:
    DB_NAME: zulip
    DB_USER: zulip
    DB_PASS: zulip
  volumes:
    - "/opt/docker/zulip/postgresql/data:/var/lib/postgresql:rw"
memcached:
  image: "quay.io/sameersbn/memcached:latest"
  restart: always
rabbitmq:
  image: "rabbitmq:3.5.5"
  hostname: zulip-rabbit
  restart: always
  environmen

[2016-04-23 11:39] galexrt commented on #65
@metamorphious This password `SECRETS_rabbitmq_password: "test"` needs to be the same as the rabbitmq password `RABBITMQ_DEFAULT_PASS: "zulip". Please try again with this change.

[2016-04-23 11:42] galexrt commented on #48
I may have pushed a potential fix for this problem.

@xeor Can you please try with the latest version of `quay.io/galexrt/zulip-postgresql-tsearchextras:latest`.
(`docker pull quay.io/galexrt/zulip-postgresql-tsearchextras:latest`)

[2016-04-23 11:54] metamorphious commented on #65
Sorry.. that was a stupid mistake.
Seems its all working now. Thanks for the fast and nice help!!

[2016-04-23 11:56] galexrt commented on #65
@metamorphious No problem. Have Fun with Docker Zulip!

***

Closing as this issue has been fixed.

[2016-04-23 11:56] #65 closed

[2016-04-23 15:14] metamorphious opened #66 "Database error: relation "zerver_realmfilter" does not exist at character 146"
I just had a running container, stopped it for changing some settings. Now I can't get it running again because of the database errors. I already tried to delete all database and zulip data. Even deleted all docker images and pulled again. Have the same errors.

Side question: Do I need your complete git repo or just the docker-compose.yml file?

docker-compose.yml:
[code]

Log:
[code]

[2016-04-23 16:04] galexrt commented on #66
@metamorphious Could you make a backup of your existing data and delete the current data, repull the Docker zulip image and try again?
I'm not running into this problem myself.

[2016-04-23 16:36] metamorphious commented on #66
Deleted:
`/opt/docker/zulip/postgresql/data/9.3`
`/opt/docker/zulip/redis/dump.rdb`
`/opt/docker/zulip/zulip/*`

Did:
`docker pull quay.io/galexrt/zulip:v1.3.10`

203137e8afd5: Already exists
2ff1bbbe9310: Already exists
933ae2486129: Already exists
a3ed95caeb02: Already exists
151530266ef9: Already exists
a425eccbecc7: Already exists
101d554e876e: Already exists
8d1677382d80: Already exists
cdc41

[2016-04-23 16:40] galexrt commented on #66
Can you try with the dev version and see if the errors persist? `quay.io/galexrt/zulip:dev`

[2016-04-23 16:49] metamorphious commented on #66
dev version gives me the following error:

zulip_1     | Executing Zulip configuration ...
zulip_1     | Setting key "EXTERNAL_HOST", type "string" in file "/etc/zulip/settings.py".
zulip_1     | Setting key "EMAIL_HOST", type "string" in file "/home/zulip/deployments/current/zproject/settings.py".
zulip_1     | Setting key "NOREPLY_EMAIL_ADDRESS", type "string" in file "/etc/zulip/settings.py".
z

[2016-04-23 17:01] galexrt commented on #66
@metamorphious Looking into the problem with the dev version image and the v1.3.10 image.

[2016-04-24 12:05] galexrt commented on #66
@metamorphious Could you try using the Docker Hub image and the new release?
The new version is `galexrt/zulip:v1.3.10-1`.

(Don't use the `quay.io/galexrt/zulip` image currently! The builds on quay.io are currently "stuck" due to an endless build I caused.. But the Docker Hub images are up to date now)

[2016-04-24 12:48] galexrt commented on #48
@xeor Could you please try again with the latest docker-zulip version `v1.3.10-1` and check if it's working now? Also repull the `quay.io/galexrt/zulip-postgresql-tsearchextras:latest` image.

[2016-04-24 12:50] xeor commented on #48
Awesome @galexrt.. I have the setup @ work, but I will see if I am able to do it as soon as possible early the coming week :)

[2016-04-24 14:18] metamorphious commented on #66
Seems to be working now. Thanks for your work!
The only thing is that I can't login at the webinterface. Tried the admin account and the user account
specified in the docker-compose.yml. But I always get the login error: "Please enter a correct email and password. Note that both fields may be case-sensitive."

[2016-04-24 14:32] galexrt commented on #66
@metamorphious Have you tried with the following login details?
Taken from your posted `docker-compose.yml`:
[code]

[2016-04-24 15:03] metamorphious commented on #66
yes I tested that.. but can't login with that too.

[2016-04-24 15:07] galexrt commented on #66
@metamorphious Could you please try to stop all containers, remove the current `/opt/docker/zulip`, start again and check if those login details are working?
If the login still isn't working please attach the full logs of all containers as a comment.

[2016-04-24 15:36] metamorphious commented on #66
Nope can't login with the credentials given in ZULIP_USER_EMAIL and ZULIP_USER_PASS. I tried to register a new user but i get the message "Your e-mail does not match any existing open organization. Use a different e-mail address, or contact admin@my-domain.com with questions." The domain (my-domain.com in this example) is set in ZULIP_USER_DOMAIN and in SETTING_ADMIN_DOMAIN.

Logs from docker-comp

[2016-04-24 16:18] galexrt commented on #66
@metamorphious Do you know how to enter the container (`docker exec ...`)?
If so, you can enter the container and run a `cat /var/log/zulip/*` and post the output.

You can also when you enter the container, run `su -c "/opt/createZulipAdmin.sh" zulip` and see if the script succeeds. The `/opt/createZulipAdmin.sh` script inside the container should create an admin user with the given login details

[2016-04-24 16:53] metamorphious commented on #66
`cat /var/log/zulip/*` creates way too much output. I looked into error.log but it is empty.

The script creates following output:
`su -c "/opt/createZulipAdmin.sh" zulip
/opt/createZulipAdmin.sh: line 9: cannot create temp file for here-document: Operation not permitted`

[2016-04-24 17:05] galexrt commented on #66
Can you try running `/opt/createZulipAdmin.sh` without the `su` arround it?

[2016-04-24 17:13] metamorphious commented on #66
Python 2.7.6 (default, Jun 22 2015, 17:58:13)
Type "copyright", "credits" or "license" for more information.

IPython 1.2.1 -- An enhanced Interactive Python.
?         -> Introduction and overview of IPython's features.
%quickref -> Quick reference.
help      -> Python's own help system.
object?   -> Details about 'object', use 'object??' for extra details.

In [1]:
In [2]:
In [3]:
In [4]:
In [5]

[2016-04-24 17:31] galexrt commented on #66
@metamorphious Thanks for the logs! I'm sorry to tell you, but I can't reproduce this problem.
You can try to create an user and or realm with the `manage.py` command from zulip.
[code]
If you need help with the `manage.py` command to create an user, please let me know.

[2016-04-28 10:52] metamorphious commented on #66
Not really a solution for the problem but..
We set up a different machine with an other host OS (now Debian instead of Ubuntu) and everything works fine from the beginning. I have no idea what went wrong on the other machine and I doubt that we will investigate that further. Thanks for your help!

[2016-04-28 10:53] galexrt commented on #66
@metamorphious No problem. Good to hear, that you found a solution!

***

Closing as resolved.

[2016-04-28 10:53] #66 closed

[2016-05-02 12:52] reyman commented on #48
Hi @galexrt
Finally i have some time to update my zulip version (to v1.3.10-1).
I make a sudo docker-compose stop, then rm, and repull all images.

When i test the search bar, it doesn't work, i have a circle infinite progress bar and a red error message at right :

[code]

[2016-05-02 13:19] reyman commented on #63
@galexrt Hum i'm not sure to understand here, i need to replace the default nginx config file with which file ? By copying this : https://github.com/jwilder/nginx-proxy#replacing-default-proxy-settings ?

[2016-05-02 13:34] galexrt commented on #63
You can try adding the variable `SECURE_PROXY_SSL_HEADER` with value `('HTTP_X_FORWARDED_PROTO', 'https')` to your Zulip `docker-compose.yml`.
I need to make a change to the image first to allow this variable to be set. I'm commenting again when I made this change. You have to use the dev version of the image after I made the change.

(See https://docs.djangoproject.com/en/dev/ref/settings/#secure

[2016-05-02 14:44] galexrt commented on #48
@reyman Have you also repulled the `quay.io/galexrt/zulip-postgresql-tsearchextras` image? I had made some changes to it some time ago.

[2016-05-02 15:58] galexrt commented on #63
I pushed the change to the dev image. The image is currently building and should be built in about 20 minutes.

Please try again with the latest `quay.io/galexrt/zulip-postgresql-tsearchextras:latest` and `quay.io/galexrt/zulip:dev`.

[2016-05-03 13:10] reyman commented on #63
Ok i made this,
but now i have a `ERR_CONNECTION_REFUSED` for `https://team.comnmodel.org`
Here my docker-compose : https://gist.github.com/cf577cf0801f0c8ed62960862993c3a1

[2016-05-03 13:11] galexrt commented on #63
@reyman Could you enter the container and run a `ss -tulpn`.
Entering the container would be `docker exec -it DOCKER_ZULIP /bin/bash`.

[2016-05-03 13:15] reyman commented on #63
Here the result :
[code]

[2016-05-03 13:16] galexrt commented on #63
@reyman You left your `SECRETS_email_password` in. Please remove it!

[2016-05-03 13:21] reyman commented on #63
@galexrt sorry about that : https://gist.github.com/03b1523b00d752a2f4de8e71eb61376b

[2016-05-03 13:23] galexrt commented on #63
Can you change `SECURE_PROXY_SSL_HEADER` to `SETTING_SECURE_PROXY_SSL_HEADER` and try if it changes something.

[2016-05-03 13:31] reyman commented on #63
@galexrt I make the change, but error continue to appear :-/

[2016-05-03 13:58] galexrt commented on #63
@reyman The nginx service in the Zulip container is running, so you shouldn't get connection refused.
It seems to caused by Zulip (Django) or jwilder/nginx-proxy.
You could ask at the Zulip project if you need to change Nginx proxy settings to get it working.
I'm sorry, but with that I can't help you. When you create an issue at the Zulip project please mention me so I stay up to date about the pr

[2016-05-07 10:29] galexrt commented on #63
@reyman Sorry, for the late response.

Can you comment out the `SECURE_PROXY_SSL_HEADER` environment variable in the `docker-compose.yml`. Enter the Docker Zulip container and run `curl https://127.0.0.1`. You should get the raw html output of the index page or something from Zulip.
Now use `docker inspect --format '{{ .NetworkSettings.IPAddress }}' CONTAINER_NAME_PROXY` to get the Zulip container

[2016-05-07 13:15] reyman commented on #63
@galexrt curl is not installed in zulip container, can you push a dev version with curl installed ? :)

[2016-05-07 14:41] galexrt commented on #63
@reyman Is this with the `SETTING_SECURE_PROXY_SSL_HEADER` environment variable removed?

[2016-05-07 15:23] reyman commented on #63
Yes.
if you want i can test if the double configuration problem i already have
is not the cause.

Le sam. 7 mai 2016 16:41, Alexander Trost <notifications@github.com> a
écrit :

[2016-05-08 13:11] galexrt opened #67 "Update to Zulip 1.3.12"
- [ ] Remove unnecessary files that got into the new version

[2016-05-08 13:13] galexrt commented on #48
Closing as I can't reproduce this problem. If you experience this problem again, please create a new issue. Thanks!

[2016-05-08 13:13] #48 closed

[2016-05-08 17:53] galexrt commented on #63
The problem may go away when I have released the new version of the image. See https://github.com/galexrt/docker-zulip/issues/67

[2016-05-12 14:31] galexrt commented on #67
I pushed the update.

[2016-05-12 14:31] #67 closed

[2016-05-13 10:48] galexrt commented on #63
Could you try with the `v1.3.12` and see if the error goes away.

[2016-05-13 10:54] reyman commented on #63
Sorry for late answer on this thread, I'm on trip, with a very bad wifi
connection :/
I try this next week :)

2016-05-13 12:48 GMT+02:00 Alexander Trost <notifications@github.com>:

--
<http://stackoverflow.com/users/385881/reyman64>

[2016-05-13 11:04] galexrt commented on #63
Thanks! Have a nice trip.

[2016-05-24 12:36] galexrt commented on #63
**Note**: I'm going to close this issue in about one or two weeks, depending on if there is a new response to this issue.

[2016-05-26 14:11] reyman commented on #63
Hi, i'm back, so i can test v1.3.12.
I have one error after docker-compose stop / rm and up :

[code]

[2016-05-26 14:14] galexrt commented on #63
@reyman Please open a new issue with the full logs for this new error.

[2016-05-26 14:23] reyman opened #68 "Zulip migration failed to v1.3.12"
Hi,
I'm going to an old dev version to the new version `v1.3.12`

Here the full log
https://gist.github.com/afb2570c30bb967ad53a538c143e5f3b

[2016-05-26 14:25] galexrt commented on #68
Note to myself add `yes` pipe output to the migration command.

[2016-05-26 14:25] galexrt commented on #68
@reyman I'm working on a fix.

[2016-05-26 14:39] galexrt commented on #68
@reyman Please try again with the dev verson.
The new dev image should be built in about 30 minutes.

[2016-05-26 14:41] galexrt commented on #68
Note to myself: If it still isn't working add `--noinput` option to the migrate command.
See https://docs.djangoproject.com/en/1.9/ref/django-admin/#django-admin-migrate.

[2016-05-27 08:22] reyman commented on #68
Ok image start with dev version.

[2016-05-27 08:23] reyman commented on #63
Ok, dev image start, i have the `CSRF verification failed. Request aborted.` error, i try to search cause with curl.

[2016-05-29 07:58] galexrt commented on #68
I have added `--noinput` to the `manage.py migrate` `entrypoint.sh` script.

I'm closing this as it seems to be fixed.

[2016-05-29 07:58] #68 closed

[2016-05-30 06:48] galexrt commented on #63
Could you please run `curl -k https://172.17.0.9` (with the Zulip container IP) and see if there is still no output.
I'm going to do some more research on this problem on my own, when I find the time for it.

[2016-05-30 07:29] reyman commented on #63
@galexrt arg, continue tu see nothing :

[code]

[2016-05-31 19:25] galexrt commented on #63
@reyman Thanks for the output! I'm going to look into the problem on the weekend.

If you have trouble with setting up LDAP that may be related to the image, please keep me informed about them, so I can fix them. :)

[2016-06-06 13:52] galexrt opened #69 "Add better instructions on how to run to README.md"
See title.

[2016-06-24 12:57] reyman commented on #63
Some news about this problem @galexrt ?

[2016-06-24 13:03] galexrt commented on #63
@reyman I tested without jwilder nginx proxy. Without jwilder nginx proxy it's fully working.
It really seems to be problem with the proxy, but I try to look into why it happens more soon.
Sry about the troubles with this.

[2016-06-26 18:37] galexrt commented on #63
@reyman I tried it now with jwilder proxy. I get a redirection loop. What environment variables did you use to start docker-zulip?
Could you please post your current `docker-compose.yml` (without passwords) so I can reproduce the problem?

[2016-06-26 18:37] #69 closed

[2016-07-08 10:25] reyman commented on #63
hi @galexrt , sorry for delay, lot of things to do :/
Here you can find my docker-compose : https://gist.github.com/06c81b8fb3b055de2a66574e3e0b2241

[2016-07-09 07:17] galexrt commented on #63
Thanks again for your `docker-compose.yml`!
I tested it now with the knowledge from your `docker-compose.yml`.

I use the following env vars and for me it's working (I can login, create streams and write messages, I haven't tested more but with these main features working everything else should work too):
[code]
Can you try with this settings? If it's still not working try repulling `jwilder/nginx

[2016-07-12 19:15] galexrt commented on #63
I'm closing as I can't reproduce the problem (see comment above it's working for me).
If it's still not working for you, feel free to comment.

***

Thanks for your time helping to create and help to resolve/find a solution for the issue!

[2016-07-12 19:15] #63 closed

[2016-07-13 09:33] reyman commented on #63
In parallel i solve some config problem i have with https and jwilder nginx-proxy image.

Thanks for your help, it works now.

[2016-07-13 18:06] galexrt commented on #63
@reyman That's good to hear!
Have Fun with docker-zulip and the hopefully soon upcoming official Zulip image I'm working on.

[2016-09-21 00:37] yicongwu opened #70 "Errror while create containers"
Error after docker-compose up

[code]

[2016-09-21 04:56] galexrt commented on #70
Please post your `docker-compose.yml` (without your passwords!) here, so I can analyze the error better.

[2016-09-21 05:18] yicongwu commented on #70
database:
  image: "quay.io/galexrt/zulip-postgresql-tsearchextras:latest"
  environment:
    DB_NAME: zulip
    DB_USER: zulip
    DB_PASS: zulip
  volumes:
    - "/opt/docker/zulip/postgresql/data:/var/lib/postgresql:rw"
memcached:
  image: "quay.io/sameersbn/memcached:latest"
  restart: always
rabbitmq:
  image: "rabbitmq:3.5.5"
  hostname: zulip-rabbit
  restart: always
  environment:
      RA

[2016-09-21 05:35] galexrt commented on #70
Thanks for the `docker-compose.yml`!

Please add `DEBUG: "true"` to the zulip container block in the `docker-compose.yml` under the `ZULIP_USER_DOMAIN` env. Then run `docker-compose rm`, `docker-compose up` and post the full log output of the container.

[2016-09-21 16:44] yicongwu commented on #70
Creating dockerzulip_redis_1
Creating dockerzulip_rabbitmq_1
Creating dockerzulip_database_1
Creating dockerzulip_memcached_1
Creating dockerzulip_zulip_1
Attaching to dockerzulip_redis_1, dockerzulip_database_1, dockerzulip_rabbitmq_1, dockerzulip_memcached_1, dockerzulip_zulip_1
redis_1      | Starting redis-server...
redis_1      |                 _._
redis_1      |            _.-``__ ''-._
red

[2016-09-21 16:48] galexrt commented on #70
Thanks! I'm looking into it.
If I should need more info, I'll let you know.

P.S. have you already tried repulling the image `docker pull quay.io/galexrt/zulip:1.4.1-1`?

[2016-09-21 16:57] yicongwu commented on #70
Yes,  I tried twice, one from Quay.io, the other one from Docker Hub

[2016-09-22 17:19] hasufell opened #71 "docker-zulip uses depcreated 'link' for network linking"
https://docs.docker.com/compose/compose-file/#/upgrading

[2016-09-22 17:44] hasufell commented on #70
Same.

[2016-09-22 18:59] hasufell commented on #70
inside the docker container:
[code]
The image is broken, also see
https://github.com/zulip/zulip/blob/1.4.1/scripts/lib/install#L49
and
https://github.com/zulip/zulip/blob/1.4.1/scripts/lib/install#L102
(`DEPLOYMENT_TYPE="dockervoyager"` is set)

which shows why `/home/zulip/deployments/current` and a lot of other stuff does not exist.

[2016-09-23 08:26] galexrt commented on #70
@hasufell Thanks for the useful info!
I now know why the error occured. It's because the `has_appserver` conditions also include the creation and movement of the config files and so on.
I fixed it by copying the commands to the Dockerfile.

I'm going to open a PR for this at the Zulip project.

[2016-09-23 10:46] galexrt commented on #70
There seem to be problems with Zulip when linking the config files..
I'm looking into it.

[2016-09-23 10:54] galexrt commented on #70
[code]
This error occurs even when the `ALLOWED_HOSTS` default is in the `settings.py` and not having the `/etc/zulip/settings.py` linked..

[2016-09-23 10:56] galexrt opened #72 "Zulip not recognizing some set options"
[code]
This error occurs even when the `ALLOWED_HOSTS` default is in the `settings.py` and not having the `/etc/zulip/settings.py` linked..

@timabbott Do you have any idea why Zulip says `ALLOWED_HOSTS` is not set, when it is set?

[2016-09-23 10:58] galexrt commented on #72
@tabbott Sorry for the wrong mention.

***

@timabbott Zulip is weirdly behaving with some options set in the `/etc/zulip/settings.py` file.

[2016-09-23 17:08] timabbott commented on #72
The code throwing that error checks that the settings one has to configure for a Zulip server are to a value other than the default value.  In the case of `ALLOWED_HOSTS`, it's arguably wrong that the default value is "*", since even though "*" is a security problem, some folks will want to leave it at that value, and we currently prevent that.

[2016-09-23 17:26] galexrt commented on #72
@timabbott Thanks for the information!

[2016-09-23 17:26] #72 closed

[2016-09-24 05:46] galexrt commented on #70
@yicongwu @hasufell You have to add `SETTING_ALLOWED_HOSTS: "[ '*', '127.0.0.2' ]"` and `SECRETS_secret_key: "REPLCAE_WITH_SECURE_SECRET_KEY"` to your docker-compose file.
With those changes it will work.
Please use the image tag `v1.4.1-2` until I have finished the release of `1.4.1-2`.
Thanks for reporting this issue!

[2016-09-24 05:46] #70 closed

[2016-09-24 05:54] yicongwu commented on #70
Thank you , I will try it tomorrow.

[2016-09-26 17:38] yicongwu commented on #70
I re-pulled the image v1.4.1-2 and added the two lines to my docker-compose file.  Still got the same problem. Did I do something wrong? I didn't see any other changes to docker-zulip file.

Starting dockerzulip_redis_1
Starting dockerzulip_memcached_1
Starting dockerzulip_rabbitmq_1
Starting dockerzulip_database_1
Recreating dockerzulip_zulip_1
Attaching to dockerzulip_redis_1, dockerzulip_memcac

[2016-09-26 17:42] galexrt commented on #70
Can you remove the `settings` or `etc-zulip` folder from your data volume/mount and try again please.

[2016-09-26 18:05] yicongwu commented on #70
OK, I'll try. By the way, I found that when executing the docker-compose up command. It will still download the v1.4.1-1 instead of v1.4.1-2.

[2016-09-26 18:07] yicongwu commented on #70
All images.
REPOSITORY                                       TAG                 IMAGE ID            CREATED             SIZE
quay.io/galexrt/zulip                            v1.4.1-2            cddd3ff482a3        3 days ago          873 MB
quay.io/galexrt/zulip                            v1.4.1-1            9b8519e08b63        12 days ago         738.5 MB
quay.io/sameersbn/redis

[2016-09-26 19:09] galexrt commented on #70
I haven't changed the docker-compose yet to reflect the new version.. I'm going to do that tomorrow.

[2016-09-26 19:17] yicongwu commented on #70
It's fine. I will complete the work on hand first and wait for your update. Thank you for your patience. :)

[2016-09-27 16:20] galexrt commented on #70
I have now updated the `v1.4.1-2` and the tag `1.4.1-2`.
Images should be built in about 20 minutes.

[2016-09-28 10:54] galexrt commented on #71
From the [Upgrading](https://docs.docker.com/compose/compose-file/#/upgrading) Section:

Only the environment variables have been deprecated/removed from the newer Docker network system.
So no problem for the current `docker-compose.yml` as the host vars are set and ports are the defaults.

[2016-09-28 11:03] hasufell commented on #71
I think you misunderstood. I didn't say anything has been removed, but the `--link` approach is __legacy__ as outlined here:
* https://docs.docker.com/engine/userguide/networking/default_network/dockerlinks/
* https://docs.docker.com/engine/userguide/networking/work-with-networks/#/linking-containers-in-user-defined-networks
* https://docs.docker.com/compose/compose-file/#/versioning

You are usin

[2016-09-28 11:38] galexrt commented on #71
Yes, I misunderstood you.
I have now updated the `docker-compose.yml` on the `dev` branch.
Could you please take a look and tell me if it is okay now. See the changes https://github.com/galexrt/docker-zulip/commit/f770ea91976784488a9d0130ad731e9e4ede39bd
From reading the pages you sent, I only see the environment variables from `links` in the `docker-compose.yml` being deprecated.

[2016-09-28 11:58] hasufell commented on #71
You wouldn't use links at all in the new format, instead you would use networks:
https://docs.docker.com/compose/networking/

Also see the example on that page.

[2016-09-29 15:51] galexrt commented on #71
As I'm understanding right now, just leaving the `links` out of the `docker-compose.yml` is enough.
Like this https://github.com/galexrt/docker-zulip/commit/06abaf9cbe02356588861032cfbc1652ee8bf125

[2016-09-29 17:23] hasufell commented on #71
I guess so. Did you test it?

[2016-09-29 17:26] galexrt commented on #71
I'm downloading the latest image right now and going to test it then.
I'll report back if it works like this.

[2016-09-29 17:37] galexrt commented on #71
I entered the containers and pinged them. It's working without the `links`.

I'm going to merge these changes as soon as possible.

Thanks again for reporting this issue!

[2016-09-29 17:37] #71 closed

[2016-12-03 14:48] galexrt opened #74 "Fix Docker Hub build issues"

[2016-12-30 13:29] galexrt commented on #74
Finally found the problems.
On Docker Hub puppet service restarts are failing. On Quay.Io service restarts don't fail.
Fixed it by adding a modified supervisor manifest.

[2016-12-30 13:29] #74 closed

[2017-02-20 17:19] xeor opened #75 "No django package after 1.4.2-2"
I am upgrading zulip pre `1.4.2-2` and suddenly django imports started failing.
Backtracking, I found that this started failing between `v1.4.2-2` and `v1.4.2-3`.
Digging deeper I found this; https://github.com/zulip/zulip/blob/54acbc41ed60dd0d5efee60b134d447420921a46/scripts/lib/install#L43-L45, which will never execute after https://github.com/galexrt/docker-zulip/commit/9ab4d924bfd1cd798763b694

[2017-02-20 17:52] galexrt commented on #75
@xeor Thanks for your report!
I pushed a change to the `dev` branch. The image is still building, but when it has been built I look if Django is installed again.
But I can't provide you with a backport of the fix for 1.4.x but there should be no problems when going straight to the latest version of Zulip `1.5.1` as Django should apply all database updates from "older" Zulip versions too.

[2017-02-20 17:57] galexrt commented on #75
@xeor Djano is now installed again. Could you please retest with the `dev` image?
(Don't forget to make a backup before updating)

[2017-02-20 18:21] xeor commented on #75
Thanks for the quick response!

`/etc/zulip/uwsgi.ini` is missing, might be some of my options making it skip the generation of it?
I'm also getting `error: <class 'xml.parsers.expat.ExpatError'>, not well-formed (invalid token): line 5, column 17: file: /usr/lib/python2.7/xmlrpclib.py line: 558` from `supervisorctl tail zulip-postsetup-create_user`. Might also be my config.

I'll test with a fres

[2017-02-20 18:26] galexrt commented on #75
@xeor Regarding the `uwsgi.ini` missing, that happens when you mount the `/etc/zulip` directory as a volume.

[code]

[2017-02-20 18:30] xeor commented on #75
I only mount `/data:rw` and a settings.py that I replaces `/etc/zulip/settings.py` with in a `post-setup.d` script.. I'll check more tomorrow :thinking:

[2017-02-20 20:54] galexrt commented on #75
@xeor I pushed multiple fixes to `dev`. The image is now fully working again for me. Please test so I can create a new release from it. Thanks!

[2017-02-21 09:51] xeor commented on #75
Testing now using:
* "Image": "sha256:9b112043ccc2af7b7ed4853451db7514756445a39890aba90da5433f8a221c59"
* "Created": "2017-02-21T09:28:30.231303267Z"

After around 5 minutes of running, some services are still strugling;

[code]

[code]

This is the same errors I got as before your previous comments.

[code]

Not sure why I don't have `uwsgi.ini`. It is defined in https://github.com/zulip/zulip/bl

[2017-02-21 10:20] galexrt commented on #75
@xeor Thanks for your extensive debugging of the problem!
Yes that seems to be the problem. You can try running the image with just bash and copying the `uswg.ini` out and in the `/data/settings/etc-zulip` you should be fine then.
I think that other startup issues come from the missing `uswg.ini`.

I'll add a notice to `README.md` about the `uswg.ini`.
As said thanks for the extensive information

[2017-02-21 10:23] xeor commented on #75
Anytime :) Can just as easy use gitlab comment field for taking notes for things like this.
Do you know when the `1.5.1` image will work?

Thanks for updating the `README.md`

[2017-02-21 10:23] #75 closed

[2017-02-21 10:29] galexrt commented on #75
@xeor I will create a new release named `1.5.1-1` for this huge fix.
I keep you updated when I have created the version tag and the image has been built.

[2017-02-21 10:37] galexrt commented on #75
Tag created https://github.com/galexrt/docker-zulip/releases/tag/1.5.1-1. Now just waiting for the Quay.io build to finish.

[2017-02-21 12:36] xeor commented on #75
Just to get it out there;

I had another problem going from 1.4 to 1.5. I got a 500 error when trying to login.
I am using AD authentication and a custom realm. It looks like the migration from 1.4 to 1.5 added another realm alias. Deleting this extra realm alias fixed the 500 error during login.

I got a an error-mail from django telling me:
[code]

[code]

[2017-02-21 12:52] galexrt commented on #75
@xeor That's weird. This could be related to the `createZulipUser.sh` script the container executes.
 I would recommend you that you add the env var `ZULIP_USER_CREATION_ENABLED` with value `false` to your `docker-compose.yml` to disable the creation of a realm and the given user details.

[2017-02-21 12:58] xeor commented on #75
Thanks.. I did that as well now in case it would have happened again if I recreated the containers :)

[2017-03-16 12:45] matclab opened #76 "zulip 1.5.1 : No module named django.utils.crypto"
After configuring and doing a `docker-compose up` I get the following error:

[code]

[2017-03-16 17:02] galexrt commented on #76
This is fixed in the new release `1.5.1-2`.
The image is currently built. Image build should take about 10 minutes.
Please switch to the new release tag.

[2017-03-16 17:02] #76 closed

[2017-03-17 07:52] matclab commented on #76
Thanks a lot !

[2017-03-17 11:00] matclab opened #77 "Unable to send mail : django : The SECRET_KEY setting must not be empty"
I'm unable to send mail.

I tried running the manage.py send_test_mail as advertised in settings.py:
[code]

But it fails with:
[code]

The logs of docker-compose.up says:
[code]

[2017-03-17 12:40] matclab commented on #77
It appears that in the docker, there is no `/etc/zulip/zulip-secrets.conf`

[2017-03-17 13:03] matclab commented on #77
Restarting from the beginning:

- docker-compose rm
- rm /opt/docker/zulip  -rf
- docker-compose up

I got the following log about secrets:
[code]

But I got the following error in the logs:
[code]

[2017-03-17 14:06] galexrt commented on #77
@matclab I'm working on fix for the errors you get.
- [x] Fix `rabbitmqctl` is missing
- [ ] Look into the missing secrets file (making send test mail (or even all mail stuff) fail)

[2017-03-17 14:09] galexrt commented on #77
@matclab The command you ran for testing sending mails is wrong.
The command needs to `exec` and not `run`. `run` would create a new container. `exec` executes the command in the existing container.
So the command needs to be:
[code]
Where `CONTAINER_NAME` is the name of the docker-zulip container.

[2017-03-17 15:37] matclab commented on #77
Thank you very much @galexrt.
And of course you're right for the `docker exec` command. Dumb of me.
I'll probably try on monday with the `dev` tag.

[2017-03-17 15:40] galexrt commented on #77
@matclab A big thanks to you too, as most users don't provide so much information for debugging as you did :+1: :)
If you should experience any other issues, please let me know and also please tell me if the `dev` tag worked for you, so I can release the new image version right away.

[2017-03-20 09:23] galexrt commented on #77
Thanks for the update!
Could you please share the contents of the `/opt/docker/zulip/zulip/settings/etc-zulip/settings.py` file (remove all your passwords) so I can take a look at this better.

- [ ] Replace the "old" database image with the fork [galexrt/postgres-zuilp-tsearchextras](https://github.com/galexrt/postgres-zulip-tsearchextras).
- [ ] Fix the rabbitmqctl not connecting to the right ho

[2017-03-20 10:50] matclab commented on #77
Yes. Here it is, with my docker-compose.yml: [docker-compose.yml and /opt/docker/zulip/zulip/settings/etc-zulip/settings.py](https://gist.github.com/matclab/f2439ec36fe7a2873cd6aeee02709bb9)

[2017-03-20 19:37] galexrt commented on #77
@matclab I'm looking into it.

[2017-03-20 21:59] galexrt commented on #77
I fixed the issue with the `SETTING_*` vars not being correctly set or the wrong type being detected.
I'm working on the other issues.

[2017-03-20 22:12] galexrt commented on #77
@matclab Have you tried logging in as the `ZULIP_USER_EMAIL` user?
The `ZULIP_USER_EMAIL` gets created on start of the image and get's granted admin privileges.

[2017-03-20 23:19] galexrt opened #78 "Investigate why the full textsearch isn't working"
The Zulip full textsearch stopped working in the latest version of the Docker image.

/cc @matclab

[2017-03-20 23:20] galexrt commented on #77
I now have fixed all issues except the text search.
I'm going to look into the text search not working in #78.

[2017-03-20 23:20] #77 closed

[2017-03-21 10:48] matclab commented on #77
Thanks, I'll give a try and let you know.

I indeed used ZULIP_USER_EMAIL to log in.
It's a shame that DISABLE_HTTPS will be removed, as I run zulib behind a nginx reverse proxy. I remember it caused problem due to the 443 port being in used, but there may be a mean to circumvent this difficulty.

Thanks a lot for the work you did.

[2017-03-21 10:50] galexrt commented on #77
@matclab As stated the `DISABLE_HTTPS` needs to be removed as with it enabled (`DISABLE_HTTPS: true`), you can't even login anymore.

[2017-03-21 15:02] matclab commented on #77
I still obtain:
[code]
when running `docker exec -it 0978cd5ae349 entrypoint.sh app:managepy send_test_email mcl@example.com`. None of those variables appear in `/opt/docker/zulip/zulip/settings/etc-zulip/settings.py`.

I see no admin tab in the UI even logged with the `ZULIP_USER_EMAIL` which is also `SETTING_ZULIP_ADMINISTRATOR`.

Error seen in the log:
[code]
To be sure I use the `dev` branch a

[2017-03-21 15:25] galexrt commented on #77
@matclab I can't reproduce your error. Please delete your `settings` folder from your data volume on the host and, pull and rerun `docker-compose up`.

[2017-03-21 15:38] galexrt commented on #78
This has been fixed in the latest `dev` image.
A new version of the image will be released soon.

[2017-03-21 15:38] #78 closed

[2017-03-21 15:52] matclab commented on #77
I haven't remove DISABLE_HTTPS for now, hope it is not part of the problem.
[code]
I got same errors.

Last commit given by `git log` is : 6d3f30d0c8a9944ce636cd9038cdf9a35e1da1f7

My docker-compose.yml file:
[code]

End of settings.py in /opt/zulip/*:
[code]

And docker images hashes:
[code]

[2017-03-21 15:58] galexrt commented on #77
@matclab Can you please check the file `/home/zulip/deployments/current/zproject/settings.py` in the container?

[2017-03-21 16:11] matclab commented on #77
Content seems right.
It ends with:
[code]

Ah, but its python. There should be no quote around True/False.
Both were considered as being True.
Removing the quote inside the settings.py in the docker work.

Still to understand why they are generated with the quotes.

[2017-03-21 16:13] galexrt commented on #77
@matclab Please post the full logs of the zulip container. There should be two lines like this:
[code]
That show as what type they got detected.

[2017-03-21 16:38] matclab commented on #77
Indeed :
[code]

[2017-03-21 16:42] galexrt commented on #77
@matclab Can you add the env var `DEBUG: "true"` to your `docker-compose.yml` and post the output then? (Please `docker-compose stop` and `docker-compose rm` the containers before running `docker-compose up` again).

[2017-03-21 16:55] matclab commented on #77
Here it is : https://gist.github.com/matclab/2faa500b58a171069054caf2f6aa2afc

[2017-03-21 17:14] galexrt commented on #77
Thanks for the gist!
I may have found a solution for your problem with the type detection (commit https://github.com/Galexrt/docker-zulip/commit/c1ddb53773d57a57bf815155d2401070e6543820).
Please repull the `dev` tag of the image and retest.

[2017-03-21 17:29] matclab commented on #77
[code]
Seems good…

I have other problems (for the previous test I didn't do `docker-compose pull`, my bad). I'll keep you informed here.

[2017-03-23 13:26] galexrt commented on #77
@matclab Did you try again with running `docker-compose pull` first?

[2017-03-23 14:33] matclab commented on #77
@galexrt The quick try I did still show some errors about rabbitmq, but I didn't have time to really look at it. I'll probably manage to try again from start this week-end or on next monday.

[2017-03-23 14:53] galexrt commented on #77
@matclab No problem. Please note you can ignore the `rabbitmqctl` errors.

[2017-03-23 19:15] vegbrasil opened #81 "Nginx won't start, if forced, shows Zulip error 500"
Hi,

I'm having some problems with the startup process, here's what's happening:

When `docker-compose up -d`, everything seems ok:

[code]
Every container starts and most importantly, stays up. The problem is that nothing happens, no HTTP/HTTPS request is served - if I bash into the Zulip container, `/var/log/zulip/install.log` says the installation was complete. `/var/log/nginx/error.log` shows

[2017-03-23 19:20] galexrt commented on #81
Can you please run:
[code]
(Replace `YOUR_ZULIP_DATA_PATH` with the data volume path)

[2017-03-23 19:29] vegbrasil commented on #81
Hi galexrt, thanks for the fast answer!

Reading the documentation, I've checked the `uwsgi.ini` file but I followed your recommendation and nothing changed.

What was done:

`docker-compose stop`
`docker-compose rm`
`docker run --rm quay.io/galexrt/zulip:1.5.1 cat /etc/zulip/uwsgi.ini > /opt/docker/zulip/zulip/setti  ngs/etc-zulip/uwsgi.ini`
`docker-compose up -d`

Then, the problem is exactly th

[2017-03-23 19:31] galexrt commented on #81
Can you please post the full logs of the zulip container as a gist (remove all passwords/secrets that eventually get shown in the logs).

[2017-03-23 19:33] galexrt commented on #81
Also I just saw you are still using Docker Zulip version `1.5.1`.
Please switch to `1.5.1-2` and try again and report back if the issue continues to occur.

[2017-03-23 19:39] vegbrasil commented on #81
The weird thing is, there's no log, even with `1.5.1-2`:

[code]
or
[code]

If I'm understanding correctly, this means that the entry point script is not running at all? I think I'm doing something fundamentally wrong, but I've tried really hard to find the problem and nothing.

Thanks for your help!

[2017-03-23 19:51] galexrt commented on #81
Can you run the following commands and post the output (some of the commands could "fail" but that is okay):
[code]

[2017-03-23 19:57] vegbrasil commented on #81
`uname -a`:
`Linux ecs 3.19.0-80-generic #88~14.04.1-Ubuntu SMP Fri Jan 13 14:54:07 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

`docker info`:
[code]
`docker images quay.io/galexrt/zulip`:
[code]
`docker run -it quay.io/galexrt/zulip:dev`:
[code]
Thanks for your help!

[2017-03-23 20:09] galexrt commented on #81
Could you please take the latest `docker-compose.yml` ([here](https://github.com/galexrt/docker-zulip/blob/master/docker-compose.yml)), put your environment variables in and run the "new" `docker-compose.yml` and then please send the logs (To get the logs simply run `docker logs CONTAINER_NAME`, where `CONTAINER_NAME` is the Zulip container name).

[2017-03-23 20:31] vegbrasil commented on #81
Things are starting to work now, Nginx starts but doesn't seems to find my valid certificate, giving HSTS errors.

My data path is `/opt/docker/zulip/zulip/` and the certificate files are there:
[code]
Is that correct?

[2017-03-23 21:44] galexrt commented on #81
@vegbrasil Please run `openssl x509 -in zulip.combined-chain.crt -text -noout`. The output of the command should contain your domain names (subject alt names, etc.) (don't post the output here).
This allows you to verify if the certificates are still yours or got overwritten by the `entrypoint.sh` script.

[2017-03-24 11:38] vegbrasil commented on #81
Yes, they were overwritten by the `entrypoint.sh` script. I fixed it by replacing the files and restarting the Zulip container. It's working now.

I can gist the Zulip container log where it generated the new cert but I'm not sure if it will help. Is there anything I can do to help diagnose the problem? Maybe I did something wrong in the process that caused the overwrite.

The `1.5.1-3` fixed the

[2017-03-24 11:42] galexrt commented on #81
@vegbrasil So the certificates get overwritten by the `entrypoint.sh` everytime you start the container?

[2017-03-24 11:51] vegbrasil commented on #81
@galexrt No they don't. Everything works great now! Here's the [startup log](https://gist.github.com/vegbrasil/63b05a6f807c6879e6f86ece9ef3313e).

[2017-03-24 11:57] vegbrasil commented on #81
@galexrt Well, actually after stopping, removing and starting every container again, the login page appears with the valid cert, if the login was successful, every page gives an error 500.

[code]

Nginx logs shows nothing. `/var/log/zulip/server.log` shows this:

[code]

I'm diagnosing further, just wanted to give you a heads up.

[2017-03-24 12:13] vegbrasil commented on #81
Hi, I'm really sorry! Removed everything in `/opt/docker/zulip/zulip` (my data path), put the cert files again (`/opt/docker/zulip/zulip/certs`) and started everything up. It worked flawlessly.

Thanks a lot for your time!

[2017-03-24 12:18] galexrt commented on #81
@vegbrasil No problem!
But I have to thank you even more for your extensive debugging and providing logs!

***

Closing as the issue has been resolved.

[2017-03-24 12:18] #81 closed

[2017-03-31 12:37] matclab commented on #77
@galexrt It does not look like there are critical errors in the log, however I can not test easily, because DISABLE_HTTPS does not work anymore, and zulip is only served over https in the docker. So I have to change my configuration (I had a nginx reverse proxy which was in charge of the SSL connexion toward the internet). Anyway I'll keep you informed if something does not work has expected.

[2017-03-31 12:41] galexrt commented on #77
Thanks for the update!

@matclab As mentioned earlier I had to remove `DISABLE_HTTPS` as Zulip isn't working on http. Zulip only works over `https`.

[2017-03-31 13:03] matclab commented on #77
Ok. For now I'm stucked with the fact that I shall configure nginx on a virtual domain to reverse proxy to the zulip docker `https`, but I must also respond with `https` to the `/.well-known` for letsencrypt certificate renewal…

I'll post my (hopefully) success here for reference.

[2017-03-31 13:07] galexrt commented on #77
@matclab You can try something like this (you would just need to add your reverse proxy stuff to it):
[code]

[2017-03-31 14:27] matclab commented on #77
Okay, that works.
Thanks a lot !

- Full text search works.
- Mail sending works

However logging in with the user defined as  `ZULIP_USER_EMAIL` (which is also `SETTING_ZULIP_ADMINISTRATOR`) I still not see any administration item in the `settings` top-right menu.

[2017-03-31 14:46] galexrt commented on #77
@matclab Can you try running the following command in the Zulip container:
[code]
(Where `YOUR_USER_EMAIL_TO_BE_ADMIN` would be for example `example@example.com`)

[2017-03-31 19:00] matclab commented on #77
Yep, with those commands, the administration tab is visible and operational. Thanks.

[2017-03-31 19:01] galexrt commented on #77
@matclab Glad to help!
If there is anything else I can help you with. Please let me know!

[2017-03-31 21:12] galexrt commented on #77
@matclab I will release the fix in the next few minuted so for new users this isn't required anymore.

[2017-03-31 21:20] galexrt commented on #77
I just released tag `1.5.1-4` (branch `v1.5.1-4`).
The image build will take about 5-10 minutes. Please switch then to the `1.5.1-4` Docker image tag. Thank you!

[2017-04-03 09:47] huneau opened #82 "1.5.1-4 Error: You must set NOREPLY_EMAIL_ADDRESS"
Hi,

I've got this error when I try to use your docker without any configuration:
[code]

Did I miss something?

I just git clone ...\ docker-compose up

[2017-04-03 09:48] galexrt commented on #82
You need to configure the `docker-compose.yml`.
See https://github.com/galexrt/docker-zulip#configure-your-docker-composeyml-before-running-the-container and the wiki page linked at it.

[2017-04-03 09:53] huneau commented on #82
Hum, All custom settings is already set in your docker-compose.yml.

[code]

[2017-04-03 09:55] galexrt commented on #82
@huneau The options set are the default variables. You need to change most of them that Zulip will work.

[2017-04-03 10:01] huneau commented on #82
fine, it's work.

[2017-04-03 10:02] #82 closed

[2017-04-03 13:11] huneau opened #83 "Idempotent Docker creation"
Hi,

I tried to create an organisation but posgres tell me that zulip.com already exist (I tried to create mine, not zulip.com ). So I deleted the volume but the same thing happens over and over.

I'm right if I do
[code]
https://github.com/galexrt/docker-zulip/blob/master/docker-compose.yml#L10 ?

Why my DB is not deleted?

[2017-04-03 14:54] galexrt commented on #83
@huneau How did you try to create an organisation?

[2017-04-03 14:55] huneau commented on #83
Using the following doc : http://zulip.readthedocs.io/en/latest/prod-install.html#step-5-create-a-zulip-organization-and-login

[2017-04-03 15:08] galexrt commented on #83
The error is that zulip shows you an error that the realm/domain `zulip.com` already exists?

[2017-04-03 15:22] huneau commented on #83
Yes exactly.

[2017-04-03 15:27] galexrt commented on #83
You only executed the command `.../manage.py generate_realm_creation_link`. Did it already return an error there or later in the process of creating the user?

[2017-04-03 15:40] huneau commented on #83
Non other error, just zulip.com already exist.

[2017-04-03 16:11] galexrt commented on #83
Are there any errors showing in the logs?

[2017-04-05 07:39] huneau commented on #83
This is the only log a can retrieve.

https://pastebin.com/EPvZtbjV

We see the Database that say : 'zulip already exist'

[2017-04-05 08:10] galexrt commented on #83
@huneau The "errors" shown aren't critical. They are expected. If there is a critical (real) error the container/script would exit.

[2017-04-05 08:17] huneau commented on #83
This was the log just before I tried to add a new corp.

Now when I exec `docker-compose up` i've got that : https://pastebin.com/4Sk7xYsq

[2017-04-05 08:19] galexrt commented on #83
Can you please post your `docker-compose.yml` (replace your passwords with `x`).

[2017-04-05 08:23] huneau commented on #83
https://pastebin.com/mUddKj42

[2017-04-05 09:38] galexrt commented on #83
@huneau Can you remove all directories and data under `/opt/docker/zulip` (your given data directory in the `docker-compose.yml` file) and then run the following commands:
[code]

***

**Note**: After deleting my outdated Zulip data directory for all containers, I now can't reproduce this issue.

[2017-04-05 09:47] huneau commented on #83
nop, same issue : https://gist.github.com/huneau/185605d16c68244f42ad0660530d6d15

[2017-04-05 11:00] galexrt commented on #83
@huneau Please post the logs of the database container.

[2017-04-05 11:07] huneau commented on #83
posgres logs https://gist.github.com/huneau/41a91d65d921c04aa958c80f42bc340c

[2017-04-05 11:17] galexrt commented on #83
That's weird it isn't creating the database for you.
Can you run `docker inspect DATABASE_CONTAINER` (remove all password) and post it here.

***

Still can't reproduce this exact problem, but hit another problem.

[2017-04-05 11:34] huneau commented on #83
https://gist.github.com/huneau/f58b7959febca0abff6ad5b517841516

[2017-04-05 12:47] galexrt commented on #83
Please run the following command and post the output here:
[code]

***

I created an issue for the new issue I found: https://github.com/zulip/zulip/issues/4420

[2017-04-05 12:53] huneau commented on #83
[code]

[2017-04-05 13:22] galexrt commented on #83
From the log the database gets created.
Run `docker-compose up` and create a new terminal. In the new terminal run the following commands:
[code]
(This shows the list of database in the postgres database container.)

[2017-04-05 13:24] huneau commented on #83
[code]

[2017-04-05 13:55] galexrt commented on #83
The database should be created.
Let's remove all images and gather some other info:
[code]
and for the info (post this output):
[code]

[2017-04-05 14:04] huneau commented on #83
When I try to `docker rmi` the image cannot be deleted because a image is currently using it. (An image that is terminates)
I can show you my `docker info`, I ve got other running image.

[2017-04-05 17:47] galexrt commented on #83
`docker info` just shows information about the docker engine.

[2017-04-06 07:55] huneau commented on #83
[code]

[2017-04-06 07:56] galexrt commented on #83
@huneau Thanks for the info!

Can you please try using the latest updated `docker-compose.yml` file (before running `docker-compose up` then, please delete all current data in `/opt/docker/zulip`).
The current `docker-compose.yml` can be found [here](https://github.com/galexrt/docker-zulip/blob/master/docker-compose.yml).

[2017-04-06 08:10] huneau commented on #83
It seems working, I try to make some crapy stuff to be sure it work and I close this issue.

[2017-04-06 08:35] huneau commented on #83
OK fine, I close.

[2017-04-06 08:35] #83 closed

[2017-04-06 08:36] galexrt commented on #83
@huneau Thanks for the feedback!
If there is anything else I can help you with, please let me know.

[2017-04-10 09:23] xgodon opened #84 "Can't create bots"
Hello i tried to install zulip with this yml file :
 https://gist.github.com/xgodon/718f4f5d441802b6fd90ee47a4ea0a58

Then i set in /etc/zulip/settings.py
AUTH_LDAP_USER_SEARCH, AUTH_LDAP_BIND_DN AUTH_LDAP_SERVER_URI, EMAIL_HOST, MAIL_HOST_USER EMAIL_PORT EMAIL_USE_TLS

So my chat is working, i can connect but when i try to create a bot in settings, the default end of the email adress is :
 -bot@e

[2017-04-10 09:27] galexrt commented on #84
@xgodon This issue is not related to docker-zulip.

Please create an issue at the official https://github.com/zulip/zulip project.
Also for documentation about Zulip, see the official docs: https://zulip.readthedocs.io/en/latest/index.html

[2017-04-10 09:28] xgodon commented on #84
yeah sorry, i even found something at https://github.com/zulip/zulip/issues/3903
thanks though.

[2017-04-10 09:28] #84 closed

[2017-04-10 09:28] galexrt commented on #84
How do you set the options in the `settings.py`?

[2017-04-10 09:37] galexrt commented on #84
Please update to `quay.io/galexrt/zulip:1.5.1-5` image!

***

Zulip options should be set like this as environment variables:
For `AUTH_LDAP_USER_SEARCH` setting, add this to the environment variables in the `docker-compose.yml`:
[code]
For other vars the same:
[code]

[2017-04-10 09:39] xgodon commented on #84
i tried but it didn't work.
maybe because i shouldn't have used :
LINK_SETTINGS_TO_DATA: "true"
MANUAL_CONFIGURATION: "true"
?

[2017-04-10 09:41] galexrt commented on #84
@xgodon `MANUAL_CONFIGURATION` disables all configuration that is normally done automatically (the name says it all).
Disable `LINK_SETTINGS_TO_DATA` and `MANUAL_CONFIGURATION` and add the settings in the style: `SETTING_name` (where `name` is the key of the setting), just set the value to what you want to be set.

[2017-04-10 09:43] xgodon commented on #84
yeah but what if i have to change something in the configuration file afterward?

[2017-04-10 09:44] xgodon commented on #84
well i guell i'll work... oh i'm so dumb :')

[2017-04-10 09:50] galexrt commented on #84
When you add new `SETTING_*` variables the config is always rebuilt on every start of the container.

[2017-04-10 12:28] xgodon opened #85 "ldap & 500: Internal server error."
hello again,

i have there var:
[code]
but when i try to loggin i have a 500 inernal error.

here is the log :
[code]
i don't get what i missed :/
thanks for your help

[2017-04-10 12:30] galexrt commented on #85
@xgodon Can you run `docker exec -it ZULIP_CONTAINER_ID cat /etc/zulip/settings.py` and post the output here.

[2017-04-10 12:35] xgodon commented on #85
# Zulip Settings intended to be set by a system administrator.
#
# See http://zulip.readthedocs.io/en/latest/settings.html for
# detailed technical documentation on the Zulip settings system.
#
### MANDATORY SETTINGS
#
# These settings MUST be set in production. In a development environment,
# sensible default values will be used.

# The user-accessible Zulip hostname for this installation, e.g.
#

[2017-04-10 12:58] galexrt commented on #85
Mhh, can you add the `LINK_SETTINGS_TO_DATA` and `MANUAL_CONFIGURATION` with the value `true`.
And copy in the config you just posted here, but with the slight change of removing the single quotes around the value from the line beginning with `AUTH_LDAP_USER_SEARCH`.

[2017-04-10 13:00] galexrt commented on #85
Before that, please try removing the single quotes from the `docker-compose.yml` for the `SETTING_AUTH_LDAP_USER_SEARCH` variable.

[2017-04-10 13:21] galexrt commented on #85
@xgodon I have pushed a commit to the `dev` branch.
In about 10 minutes a new `dev` image should be available. Please then try with the image `quay.io/galexrt/zulip:dev` and report back if the `AUTH_LDAP_USER_SEARCH` still has the single quotes around the value (`LDAPSearch(...)`).

[2017-04-10 13:22] xgodon commented on #85
with  LINK_SETTINGS_TO_DATA and MANUAL_CONFIGURATION,
when i remove the single quotes and add in /etc/zulip/zulip-secrets.conf auth_ldap_bind_password = ""
the image works

[2017-04-10 13:24] xgodon commented on #85
but with the AUTH_LDAP_BIND_DN = "" only, it doesn't seems to work.
Okey i'll go back to you in 20 min then :)
thanks again!

[2017-04-10 13:25] galexrt commented on #85
@xgodon Please wait for the new `dev` image and try without the `LINK_SETTINGS_TO_DATA` and `MANUAL_CONFIGURATION`. The changes in the `dev` image should fix the issue.

***

The `dev` image has been built. Please try with the `quay.io/galexrt/zulip:dev` image.

[2017-04-10 13:26] galexrt commented on #85
@xgodon For `AUTH_LDAP_BIND_DN` the password needs to be added like this as a environmental variable: `SECRET_auth_ldap_bind_password: "YOUR_LDAP_BIND_PASSWORD`.

[2017-04-10 14:14] xgodon commented on #85
SECRETS_auth_ldap_bind_password: ""
 doesn't work :/

[2017-04-10 14:18] galexrt commented on #85
@xgodon It has to be: `SECRET_auth_ldap_bind_password` and not `SECRETS_...`.

[2017-04-10 14:22] xgodon commented on #85
SECRET_auth_ldap_bind_password wasn't working. so i thought you made a mistake, as other secrets are with an s.

[2017-04-10 14:44] xgodon commented on #85
and even when i manually add it in zulip-secrets.conf i still have the @acme.com bug... :/

[2017-04-10 14:50] galexrt commented on #85
Oh you are right. It is with an `S`. What error is Zulip showing you?

[2017-04-10 14:51] xgodon commented on #85
the secret isn't set in the zulip-secrets.conf.
so i've got an invalid credential error!

[2017-04-10 14:58] galexrt commented on #85
@xgodon I'm taking a look at the issue and going to fix it fast for you.

[2017-04-10 15:01] galexrt commented on #85
Can you take a look at your data volume of the zulip container and check if there is a file named `zulip-secrets.conf`. It should contain the other secrets.

[2017-04-10 15:09] xgodon commented on #85
nope i had the volume removed !

[2017-04-10 15:34] galexrt commented on #85
@xgodon The secret is added to the `zulip-secrets.conf` for me when using `SECRETS_auth_ldap_bind_password`.
Can you add `DEBUG: "True"` as a environment variable to the `docker-compose.yml` and post the output (remove all passwords from it, as the values of the variables will be shown).

[2017-04-12 13:39] xgodon commented on #85
zulip_1      | + echo 'Secret found for "rabbitmq_password".'
zulip_1      | + for SECRET_KEY in '"${SECRETS[@]}"'
zulip_1      | + local key=SECRETS_auth_ldap_bind_password
zulip_1      | + local SECRET_VAR=
zulip_1      | + '[' -z '' ']'
zulip_1      | + echo 'Empty secret for key "auth_ldap_bind_password".'
zulip_1      | + continue
zulip_1      | + set -e
zulip_1      | + unset SECRET_KEY SECR

[2017-04-12 14:15] galexrt commented on #85
@xgodon You have to set a value for the `SECRETS_auth_ldap_bind_password` variable or else it won't be added.

[2017-04-12 17:48] xgodon commented on #85
i just want to bind anonymously, so i just set SECRETS_auth_ldap_bind_password: ""
i have no value to put there...

[2017-04-12 18:50] galexrt commented on #85
I pushed a change to the `dev` branch to allow empty secrets.
The image should be built in about 5 minutes (the quay.io image).
Please repull the image and try again (use the `dev` image tag).
(To repull run `docker pull quay.io/galexrt/zulip:dev`)

[2017-04-13 12:44] xgodon commented on #85
it works! :)

[2017-04-13 12:44] #85 closed

[2017-04-13 12:48] galexrt commented on #85
@xgodon That's good to hear! I'll let you know when I release a new version that includes this fix, so you can switch from the `dev` tag to the version tag then.

[2017-04-18 14:42] huneau opened #86 "Bot creation with bad email"
Hi there,

I think I found a bug with the docker version.
![docker bot](https://cloud.githubusercontent.com/assets/9199240/25136590/bf0243de-2455-11e7-836a-0ece0f84277a.png)

As you can see, the bot email has a concatenate domain.

I cannot try it on original zulip version, but I think you can easily see the bug.

[2017-04-18 14:53] galexrt commented on #86
See https://github.com/zulip/zulip/issues/3903.

***

Closing as this is not an issue with the docker-zulip project.

[2017-04-18 14:53] #86 closed

[2017-04-18 15:18] huneau commented on #86
thx and sry :)

[2017-06-07 19:35] pirate opened #87 "Zulip:1.6.0-0 image isn't actually Zulip 1.6.0"
I just ran `docker-compose stop; docker-compose rm; docker pull quay.io/galexrt/zulip:1.6.0-0; docker-compose up -d`.
[code]

It downloaded some new images and completed successfully, and Zulip came up fine afterwards.  The only problem is, Zulip is no different, it's running the same version as before with none of the v1.6.0 ui changes.
What can I do to get 1.6.0 running?  Thanks!

![screen shot

[2017-06-07 20:55] galexrt commented on #87
@pirate Please repull the image and restart the Zulip instance before running the commands (to repull run: `docker pull quay.io/galexrt/zulip:1.6.0-0`).

Run the following command to verify the Zulip version you are running in the container:
[code]
(Replace `YOUR_ZULIP_CONTAINER_ID_HERE` with the Zulip container name/id)

[2017-06-07 21:42] pirate commented on #87
Aha, `docker ps` is showing `quay.io/galexrt/zulip:1.5.1-5` it appears I also have to update `docker-compose.yml` to point to the new images.

[2017-06-07 21:49] #87 closed

[2017-06-08 07:45] galexrt commented on #87
Yes to use the new version of (Docker) Zulip you need to update the image in the `docker-compose.yml`.

Thank you for the wiki change!

[2017-09-14 00:06] jmandel opened #89 "db setup in kubernetes?"
I might just be missing something, but when I try to deploy the replicaset to a k8s cluster, it looks like the zulip container is [configured to talk to its podmates over hostnames like `postgres`](https://github.com/galexrt/docker-zulip/blob/master/kubernetes/zulip-rc.yml#L69-L70) rather than `localhost`. This prevents the zulip service from finding, e.g., the database.

Updating these to `localh

[2017-09-14 07:18] galexrt commented on #89
@jmandel Is the database in the same K8s pod context/in the same replicaset containers specified as Zulip?

[2017-09-14 17:31] jmandel commented on #89
Yes, the db is in the same replicaset because I'm using the replication controller [defined in this repo](https://github.com/galexrt/docker-zulip/blob/master/kubernetes/zulip-rc.yml#L69-L70).

Looking back at the state 17h later: the pod is up and running. I'm a bit confused abut what happened, but will close this issue until/unless I can reproduce! Thanks for the response :-)

[2017-09-14 17:31] #89 closed

[2017-09-14 17:33] galexrt commented on #89
@jmandel Good to hear the problem solved itself!

[2017-09-16 20:01] TomaszKolek opened #90 "SSL certs problem"
Hello,
I'm trying to setup docker image on Google service and have a problem with certs. I've got my own certificates but have completely no idea what I should do next. I read the wiki page but cannot understand it. Could someone please explain me what should I do with this?

Thanks!

[2017-09-16 21:42] galexrt commented on #90
@TomaszKolek Hey!
To use your own certificates you need to put your certificate and key into the `certs/` in your data directory of Zulip on the host.
The certificate needs to be renamed to `zulip.combined-chain.crt` and the key to `zulip.key`. Then the container should use the certificate and key. This can be seen in the logs.

See https://github.com/galexrt/docker-zulip/wiki/Zulip-Certificates-S

[2017-09-17 08:46] TomaszKolek commented on #90
@galexrt , Thanks for the answer, I've got one unrelated to the repo problem - maybe you'll be able to help me.
I'd like to deploy zulip docker into Google service. Not sure if I even chose a good one.

I'm trying with Container cluster - but not sure how to transfer certs there. Do you have any bits of advice how can I do it?

[2017-09-17 09:42] galexrt commented on #90
@TomaszKolek You mean the Google Container Engine, right?
I haven't worked with Google Container Engine, but I think you should have access to your cluster with the `kubectl` util.
You can then create a secret with certificate and key in it with their corresponding name `zulip.combined-chain.crt` and `zulip.key`, and then in the manifest for the Zulip Deployment/ReplicationController tell Kubernet

[2017-09-17 13:53] TomaszKolek commented on #90
Thanks, it was really helpful!
Unfortunately, I met another problem that seems to be related to docker image.2017-09-
`17T13:48:05.736401076Z Error: You must set EXTERNAL_HOST in /etc/zulip/settings.py.`

but my docker-compose file has such line:
`SETTING_EXTERNAL_HOST: "chat.sio.io"`

should I do something more?

[2017-09-17 14:49] galexrt commented on #90
@TomaszKolek Could you please post your `docker-compose.yaml` with the `SETTING_EXTERNAL_HOST` in it and the logs when running the zulip container.

[2017-09-17 14:51] TomaszKolek commented on #90
[code]

[code]

[2017-09-17 15:40] galexrt commented on #90
@TomaszKolek I suggest you change your API key for SendGrid as you just posted your email password.

Are you sure that are the full logs? How did you retrieve the logs? The logs you posted don't show the error you posted above.

[2017-09-17 15:42] TomaszKolek commented on #90
@galexrt Yeah, I noticed that, thanks for removing.

You're right I didn't. My comment was updated.

[2017-09-17 16:12] galexrt commented on #90
@TomaszKolek Could you please run the container with the environment variable `DEBUG: "true"`. This will show additional debug output.
Please note that in the debug output the passwords are shown in plain text due to the nature of bash'es "debug" mode. Please remove them before posting.

[2017-09-17 16:25] TomaszKolek commented on #90
I added `DEBUG: 1` to docker-compose under environment variable. Is that correct way?

[2017-09-17 16:44] galexrt commented on #90
@TomaszKolek It needs to be `DEBUG: "true"`, not `1` as the value.

I personally "never" build an image and push it to my "own" image registry. I use the existing image (`galexrt/zulip` or `quay.io/galexrt/zulip`).
This image is built so that you always have the same configuration as long as you specify the same values for the environment variables.
The configuration is done via environment variab

[2017-09-17 16:47] TomaszKolek commented on #90
@galexrt
Its probably super dummy question and it might be somehow related to my problem...
is the docker-compose file part of the image? If so how are you able to build existing image with your own variables?

I'm using Google Container Engine and not sure how I could apply my own docker-compose before building the image.

[2017-09-17 17:14] galexrt commented on #90
The `docker-compose` file is not part of the image. When running `docker-compose up` you start the image as a container "independent" of the `docker-compose` file, you could also have started the container manually, the `docker-compose` file just contains the options how the containers are started. For example the environment variables are set "dynamically" on start/run of the container.

I don't

[2017-09-17 18:49] TomaszKolek commented on #90
Thanks a lot, tons of great information!
I almost set it up ;-), one question - how can I get an address of DB_HOST where DB container is initializing during the same deployment?

[2017-09-17 19:07] galexrt commented on #90
@TomaszKolek You use a DNS name for it. When running with the "default" `docker-compose` file the `DB_HOST` would be `database` as set by default.

[2017-09-17 19:08] TomaszKolek commented on #90
Am I right that in such case:
[code]
it should be "postgresql"?

[2017-09-17 19:13] galexrt commented on #90
Is this a `docker-compose` file or Kubernetes manifest?

[2017-09-17 19:13] TomaszKolek commented on #90
Kubernetes manifest

[2017-09-17 19:16] galexrt commented on #90
Are all containers (zulip, postgres, etc) running in the same pod? Then it should be `127.0.0.1` from what I can tell from the manifest part.

[2017-09-18 05:51] TomaszKolek commented on #90
Yeah, you're right! Thanks

Next thing that might be somehow related to repo I met is:
I created a completely new cluster, I changed the manifest to use your image instead of my own. A first try is successful and I don't see any errors on the ui page but in logs I've got:
```2017-09-18T05:39:24.416915849Z Populating default database failed.```

and error is:
[code]
Thats super strange because the

[2017-09-18 07:27] galexrt commented on #90
@TomaszKolek These logs seem to be from the first run of Zulip, right?
Is this an empty DB that runs within in the Zulip pod or an external DB? Have you tried clearing the DB for Zulip? (data loss will occur if no persistent volume is used in K8s for the DB and Zulip's user data (attachments)).

This more of seems like an issue with the DB or Zulip DB migration.

[2017-09-18 07:43] TomaszKolek commented on #90
@galexrt yes, its first run on a completely new cluster.
DB that is run in the Zulip pod. You can see my manifest below.

[code]

Do you mean I should somehow login into the container and manually try to clear the DB?

[2017-09-18 15:25] galexrt commented on #90
@TomaszKolek Does it work when you run locally with `docker-compose`?
Could you try using `quay.io/galexrt/zulip:v1.6.0-1` instead of your own built image? On what OS did you build the image?

[2017-09-18 17:30] galexrt commented on #90
@TomaszKolek Could you try using `localhost` instead of `127.0.0.1`? This may be an issue now as the "auto detection" if it is an int or string seems to have detected this as the wrong type, because there are quotes missing around the `127.0.0.1` value.

[2017-09-29 17:22] TomaszKolek commented on #90
Hey! It works! Big thanks for the help - I think we can close the issue.

[2017-09-29 17:23] galexrt commented on #90
@TomaszKolek Good to hear! If there is anything else please let me know.

[2017-09-29 17:23] #90 closed

[2017-10-13 07:42] davaxi opened #92 "It's possible to use external Database ?"
Hi,

I try to install zulip with external PostgresSQL database. I remove database service and replace database connection info with my personal database. But when i try to up docker-compose, i have a bug on zulip who not access on postgresql files...

How i can install zulip without quay.io/galexrt/postgres-zulip-tsearchextras:latest service ?

Thanks

[2017-10-13 08:31] galexrt commented on #92
@davaxi You need to have the zulip `tsearch-extras` package installed on the postgres server you are using.
See https://zulip.readthedocs.io/en/1.6.0/dev-setup-non-vagrant.html#using-the-official-ubuntu-repositories-pgroonga-ppa-and-tsearch-extras-deb-package

[2017-10-13 09:46] davaxi commented on #92
Thanks @galexrt

[2017-10-13 09:46] #92 closed

[2017-10-13 10:56] galexrt commented on #92
@davaxi If there is anything else I can help you with, please let me know. :)

[2017-11-08 09:21] ledroide opened #93 "process-fts-updates and zulip-postsetup-create_user exits with status 1 and 2 respectively - then login failure"
Hi,
Trying many ways of login Zulip with user email and passwords defined in vars SETTING_ZULIP_ADMINISTRATOR, ZULIP_USER_EMAIL, ZULIP_USER_PASS ; I found these logs from dockerzulip_zulip_1 container - which should cause the "invalid password and email" message I get on Zulip web login page :

[code]

The problem looks similar to issues #23 and #66 - but their answers didn't help me.
I already tr

[2017-11-08 10:29] stefanocog commented on #93
+1

[2017-11-08 11:21] galexrt commented on #93
I have identified the issue and a fix is after my testing on it's way.

[2017-11-08 13:13] galexrt commented on #93
@ledroide I have pushed a fix to the `dev` branch. You can see if the build is finished here: https://quay.io/repository/galexrt/zulip?tab=builds
I had to remove `zulip-postsetup-create_user` because commands used in, have been removed in the latest Zulip version.
To create an user you need to follow the new instructions in the README, see https://github.com/galexrt/docker-zulip/tree/dev#creating-

[2017-11-08 14:01] ledroide commented on #93
@galexrt : There should be a mistake in documentation, or a lost executable :

[code]

Hope it helps

[2017-11-08 14:09] galexrt commented on #93
@ledroide You only need to change the image used in your `docker-compose.yml` to test the fix: `quay.io/galexrt/zulip:dev`
The `docker-compose.yml` in the repo doesn't change depending on the branch.

[2017-11-08 15:14] ledroide commented on #93
Sorry @galexrt for my wrng tag, now I use _dev_ tag for zulip image you just built.
I can now generate a URL to create a realm.
Unfortunately, after completing my email address, is goes on timeout and displays "Internal server error". Tried ten times with variants, same result, timeout.
I tried also to execute `su zulip /home/zulip/deployments/current/manage.py generate_realm_creation_link` from t

[2017-11-08 15:53] galexrt commented on #93
@ledroide Do you set a valid SMTP server in the `docker-compose.yml`?

I get the email to validate my email address, follow the link, create an user and realm in the process, login and get a working Zulip instance.

[2017-11-08 15:58] galexrt commented on #93
The issue about `zulip_deliver_enqueued_emails` is happening when Zulip tries to send an email over SMTP from an user not the login name depending on if the email server allows to send emails from account abc@example.com as xyz@example.com.
The error looks like this in the `/var/log/zulip/events_deliver_enqueued_emails.log`:
[code]
and the logs from the container look like this:
[code]

So keep th

[2017-11-10 12:05] ledroide commented on #93
Sorry for the delay, but it still fails at realm creation, with message
"Configuration error
It appears there are problems with the email configuration.
See /var/log/zulip/errors.log for more details on the error."
[code]
Tried on both ports http and https, same error

[2017-11-10 15:07] galexrt commented on #93
@ledroide From your comment that you seem to have deleted, the message `STARTTLS extension not supported by server.` means that Zulip tries to use `STARTTLS` to connect to your SMTP server.
Try disabling this by setting the env var `SETTING_EMAIL_USE_TLS` to `false` (and maybe add the env var `SETTING_EMAIL_USE_SSL` to `false` too).

The whole SMTP env vars can be found here: https://github.com/ga

[2017-11-15 10:33] galexrt commented on #93
@ledroide @stefanocog Does this issue still appear for you with `dev` or `1.7.0-2` image and a working SMTP configuration set?

[2017-11-15 16:21] ledroide commented on #93
@galexrt : I'm testing zulip from my office, where smtp and ldap settings are highly complex, so I'm unable to automate or even solve this issue from a container. I also tried davmail as a proxy, and it failed.
I was guessing ZULIP_USER_EMAIL and ZULIP_USER_PASS would create a usable zulip user, obviously I was wrong. It looks like there is no way to use zulip with a standalone authentication. If

[2017-11-15 16:29] galexrt commented on #93
@ledroide Sorry but the `ZULIP_USER_EMAIL` and `ZULIP_USER_PASS` have been deprecated in docker-zulip because Zulip doesn't allow "manual" realm creation anymore. Due to this change in Zulip creating an user via `manage.py` in Zulip requires a realm to exist and only prints out an URL to create an user together with a realm.

[2017-11-26 13:29] galexrt commented on #93
@ledroide I'm going to close this issue for now.
As written I'm not experiencing this with a SMTP server set correctly.

About creating an user without a SMTP server, you could ask at the official Zulip chat: https://chat.zulip.org/

[2017-11-26 13:29] #93 closed

[2018-02-21 18:55] Rinma opened #94 "Problems with Traefik as proxy"
Hello,
I try to get zulip container work with Traefik. My problem is I get the error `The page isn’t redirecting properly` when i try to use it. But when I set up port mapping with docker-compose I can see that zulip is working fine. So it is only a configuration issue with Traefik and I hope someone have an idea.

docker-compose.yml
[code]

The configuration in the `labels` section of the compose

[2018-02-21 19:11] galexrt commented on #94
@Rinma Have you tried letting Traefik talk to Zulip over https `443`? Because the `DISABLE_HTTPS` has been removed sometime last year and Zulip doesn't really works without https.

[2018-02-21 19:25] Rinma commented on #94
@galexrt ok didn't know that `DISABLE_HTTPS` was not available anymore. But with some more changes this did the trick :)
Thanks for your help.

For documentation:
Traefik needs to be configured with [`InsecureSkipVerify = true`](https://github.com/containous/traefik/issues/364) so it accepts the self signed certificate from zulip ([Documentation](https://docs.traefik.io/configuration/commons/)). A

[2018-02-21 19:25] #94 closed

[2018-03-04 14:57] AnicetR opened #95 "Zulip first start database initi failed in "initialize-database" exit code 1."
Hello !

I've some trouble to run the container.
Pgsql seems to not configure itself.

Here is the stacktrace :
[code]

Here is my docker_compose.yml :
[code]

Here is the entrypoint.sh conf :

[code]

Any idea of what's appening ?

Thanks

[2018-03-04 17:48] galexrt commented on #95
@AnicetR The database schema doesn't exist, see `zulip_1      | django.db.utils.ProgrammingError: schema "zulip" does not exist`.

[2018-03-05 15:35] AnicetR commented on #95
I use the one shipped within the postgres container, I didnt saw this in the conf.
My mistake, I will try to specify database and come back to you for feedback.

Thanks a lot for your support on dummy mistakes ! Haha

[2018-04-06 10:05] TomaszN007 opened #96 "env PUSH_NOTIFICATION_BOUNCER_URL is not added to setting.py"
When i add SETTING_PUSH_NOTIFICATION_BOUNCER_URL as a env is not added at the bottom of settings.py.

[2018-04-07 15:11] #95 closed

[2018-04-07 15:12] galexrt commented on #96
@TomaszN007 Can you try running the image with the `DEBUG: "true"` env var and check if the log output contains the `SETTING_PUSH_NOTIFICATION_BOUNCER_URL`
Also please post the log output (without any passwords in it) here

[2018-04-20 13:53] toan2948 opened #97 "Required variables"
Hi Galexrt,

there are not some required variables in docker-compose.yml file such as ZULIP_USER_EMAIL, ZULIP_USER_PASS ... .

Do I need to add them in the file

Thank you very much!

[2018-04-20 14:54] galexrt commented on #97
These variables are not available anymore since Zulip has removed the functionally to create a user completely manually. The process of creating a user can be done through the create realm script https://github.com/galexrt/docker-zulip#creating-zulip-user, but it requires a SMTP server.

[2018-04-23 09:05] toan2948 commented on #97
in entrypoint.sh file, I see these lines: DB_HOST="${DB_HOST:-127.0.0.1}"
 and SETTING_RABBITMQ_HOST="${SETTING_RABBITMQ_HOST:-127.0.0.1}" and SETTING_REDIS_HOST="${SETTING_REDIS_HOST:-127.0.0.1}" and     SETTING_MEMCACHED_LOCATION="127.0.0.1:11211"

meanwhile in docker-compose.yml: DB_HOST: "database"
      SETTING_MEMCACHED_LOCATION: "memcached:11211"
      SETTING_RABBITMQ_HOST: "rabbitmq"

[2018-04-23 09:11] galexrt commented on #97
@toan2948 If you are using docker-compose you should just use the variables from the example `docker-compose.yml`, see https://github.com/galexrt/docker-zulip/blob/master/docker-compose.yml.

[2018-04-23 09:25] galexrt commented on #97
You need to specify the reachable addresses for the services in these env variables.
As you wrote your services (Rabbitmq, database, etc) run on `127.0.0.1` it won't work with Docker, because a container has it's own localhost and can't reach the host machines localhost.
You need to run the services on an IP that can be reached from inside the Zulip container (e.g. public interface).

If you are u

[2018-04-23 12:54] toan2948 opened #100 "what if I have already installed redis, Rabbitmq, memcached before?"
what if I have already installed redis, Rabbitmq, memcached before? Do I need to change the docker-compse.yml?

I run the container, but it seems will never finished:

The log just stays at this part:
[code]

[2018-04-23 13:13] toan2948 commented on #100
I accidentally press Ctr +C, and it displayed as below:

**^CGracefully stopping... (press Ctrl+C again to force)
Stopping dockerzulip_zulip_1     ... done
Stopping dockerzulip_redis_1     ... done
Stopping dockerzulip_memcached_1 ... done
Stopping dockerzulip_rabbitmq_1  ... done
Stopping dockerzulip_database_1  ... done**

then I listed all containers and saw this:
**toan@www:~/docker-zulip/dock

[2018-04-23 19:13] galexrt commented on #97
Closing this in favor of your issue #100.

[2018-04-24 08:12] toan2948 commented on #100
This is the log for the database service:
database_1   | LOG:  database system was shut down at 2018-04-24 07:49:23 UTC
database_1   | LOG:  MultiXact member wraparound protections are now enabled
database_1   | LOG:  database system is ready to accept connections
database_1   | LOG:  autovacuum launcher started
database_1   | ERROR:  role "zulip" already exists
database_1   | STATEMENT:  CREATE U

[2018-04-24 08:24] toan2948 commented on #97
I keep going with all services (redis, database, rabbtmq, memcached) in the docker-compose.yml. So what about entrypoint.sh file? Do  I need to change the address in it? For example,  in your entrypoint.sh, the address is 127.0.0.1, meanwhile my address which is used for the container listen to is 137.7.8.1. Shoule I change 127.0.0.1 to 137.7.8.1.?

And could you explain why there are two ports (4

[2018-04-24 11:03] galexrt commented on #100
@toan2948 It's just saying the user, database, etc already exists.. When using the `docker-compose.yml` as is provided in this repository, the database, user, etc are already configured, so no `postgres` superuser access is needed.

[2018-04-24 11:07] galexrt commented on #97
@toan2948 As I already wrote, when you use the `docker-compose.yml` provided in this repository, you leave the addresses and ports as they are. You only need to settings such as SMTP server address, passwords, domain used and so on.

[2018-04-25 08:31] galexrt commented on #97
@toan2948 As the comment above those variables says, it is possibly that the mailserver won't work without tls and/or ssl.

[2018-04-25 08:31] #100 closed

[2018-04-25 08:31] galexrt commented on #100
Closing because reporter wants to use the containers coming with the default `docker-compose.yml`.

[2018-04-25 11:30] toan2948 commented on #13
I have the log like this:

`DIAGNOSTICS
zulip_1      | ===========
zulip_1      |
zulip_1      | attempted to contact: [rabbitmq@4ffe37383a75]
zulip_1      |
zulip_1      | rabbitmq@4ffe37383a75:
zulip_1      |   * connected to epmd (port 4369) on 4ffe37383a75
zulip_1      |   * epmd reports: node 'rabbitmq' not running at all
zulip_1      |                   no other nodes on 4ffe37383a75
zulip_1

[2018-04-25 11:40] galexrt commented on #13
@toan2948 As written above in this issue, the errors are okay because the Rabbitmq is already correctly setup. The "errors" mean that rabbitmq could not be reconfigured which is as written okay in that case.

Please use your created issue for questions and/or issues you experience. This issue is from Oct 21, 2015..

[2018-04-25 11:42] toan2948 opened #101 "Problem loading page"
I use the command netstat to check listening and see that zulip (28607/docker-proxy and 28620/docker-proxy) listen on the IP address.

root@www:~# netstat -ntlp |grep 443
tcp        0      0 137.74.178.2:443        0.0.0.0:*               LISTEN      28607/docker-proxy

root@www:~# netstat -ntlp |grep 80
tcp        0      0 137.74.178.2:80         0.0.0.0:*               LISTEN      28620/docker-p

[2018-04-25 11:44] galexrt commented on #101
I have no problems starting the default `docker-compose.yml` and connecting to it.

Do you have a firewall in place that blocks these ports? Are the Docker firewall rules in place that do the port forwarding?

[2018-04-25 11:44] toan2948 commented on #13
Excuse me :). I thought the issues should be in the same topics.

[2018-04-25 11:45] galexrt commented on #96
@TomaszN007 Also have you checked the `settings.py` in `/etc/zulip` and the one in the `/home/zulip/deployments/current/...` directory?

[2018-04-25 14:48] toan2948 commented on #101
my fault,

my IP address was disconnected from the server, I reconnect and it works. Thank you so much! I wilI go on and disturb you again, I think :)

[2018-04-25 17:30] carlokok opened #102 "Option to use latest zulip git?"
Would it be possible to have an option to use latest git of zulip instead of a specific release?

[2018-04-25 21:14] galexrt commented on #102
@carlokok Not really right now. The image is built from a release tarball, see https://github.com/galexrt/docker-zulip/blob/master/Dockerfile#L19.

I would be okay with taking a PR to add a second Dockerfile for building from Zulip repository branch/tag. :)

[2018-05-04 07:10] toan2948 commented on #101
when I am creating Zulip User, I have filled all info and then clicked Register.
But it show this message:
"
INTERNAL SERVER ERROR

This Zulip server is currently experiencing some technical difficulties. Sorry about that!

The page will reload automatically soon after service is restored.

If you'd like, you can drop us a line to let us know what happened.
"

Could you please grant me some sugges

[2018-05-04 07:47] toan2948 commented on #101
The error log shows this:

root@0b5ed01e0aa2:/var/log/zulip# tail -f errors.log
    realm = do_create_realm(string_id, realm_name)
  File "./zerver/lib/actions.py", line 3012, in do_create_realm
    admin_realm = get_system_bot(settings.NOTIFICATION_BOT).realm
  File "./zerver/lib/cache.py", line 167, in func_with_caching
    val = func(*args, **kwargs)
  File "./zerver/models.py", line 1496, in g

[2018-05-04 08:32] toan2948 commented on #101
After I remove all volumes, change other admin email and run docker-compose again,

the error log is like below:

root@2ea6cff682f6:/var/log/zulip# tail -f errors.log
    if mail.send() == 0:
  File "/home/zulip/deployments/2018-04-23-19-20-08/zulip-py3-venv/lib/python3.5/site-packages/django/core/mail/message.py", line 348, in send
    return self.get_connection(fail_silently).send_messages([self

[2018-05-06 07:58] galexrt commented on #101
@toan2948 The last error message says that your SMTP is denying mail relay access (aka you are not allowed to send mail for this domain probably from the SMTP server) for this domain.
You need to use a domain which is allowed to send mails through the SMTP server you set in the env variables.

[2018-05-15 15:34] timabbott commented on #102
I think it's reasonable to just have it always use a branch/tag, now that the Zulip installer runs happily from that context.  I bet we'll have this fixed by the end of the day at the PyCon sprints.

[2018-05-15 17:29] carlokok commented on #102
I've got a fork that does this (from master currently) see https://github.com/carlokok/docker-zulip

[2018-05-15 20:12] timabbott opened #104 "Simplify ConfigureCerts using `scripts/setup/generate-self-signed-cert`"
We should be able to remove much of the code in the configureCerts section of `entrypoint.sh` by having it instead call `scripts/setup/generate-self-signed-cert`.  That implementation is a super well-tested one borrowed from the Debian project.

[2018-05-15 22:20] #102 closed, assigned to nobody

[2018-05-16 14:23] timabbott opened #106 "Add continuous integration for running docker-build"
This will make it possible to test pull requests for whether they build via CI, which would save time in testing/debugging the images.  And I don't think it should be super hard.

Which CI platform is best for doing Docker testing?

[2018-05-16 22:21] timabbott opened #110 "Document how to specify an SSL certificate and/or offer to use certbot to get one"
Once we finish #104, ideally we'd also have some form of support for using certbot to get an SSL certificate, and maybe also document how to provide an SSL certificate to the image.

[2018-05-20 20:36] timabbott opened #114 "Eliminate the `setup_files` directory and related `nginx` code"
It should now be possible to achieve this `nginx` configuration file system by just adding an
[code]
block in `/etc/zulip/zulip.conf`.  We can set this up with a single command using the `crudini --set` command.

[2018-05-20 20:38] timabbott opened #115 "Set persistent storage for the /home/zulip/uploads directory in kubernetes configuration"
As documented in https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#backups, we need our docker-compose.yml and kubernetes sample configuration files to declare `/home/zulip/uploads`  as a persistent storage volume.  Otherwise, any files you upload will disappear when restarting the Docker image.

This is probably the most critical issue with the current image.

[2018-05-20 20:39] timabbott opened #116 "docker-compose and kubernetes: Set storage for the rabbitmq image"
Since rabbitmq queues are generally designed to be persistent, we should

This is relatively low-priority (since it doesn't come up super often), but is worth doing to ensure we have a 100% correct storage design for the image.

[2018-05-20 20:40] galexrt commented on #115
@timabbott There is already persistence with the current image.. https://github.com/galexrt/docker-zulip/blob/master/Dockerfile#L88 and https://github.com/galexrt/docker-zulip/blob/master/entrypoint.sh#L66-L103.
It is simply linked to `$DATA_DIR`/`/data` dir.

[2018-05-20 20:41] timabbott opened #117 "Integrate/document helm configuration from zulip-helm"
@armooo did some good work on using Helm with this project, located here: https://github.com/armooo/zulip-helm.

We should integrate that with this project (at the very least, writing a nice HOWTO guide for using that to run Zulip inside Kubernetes easily)

[2018-05-20 20:42] timabbott opened #118 "Polish the documentation to require less knowledge about Docker to use this"
We should write a really polished HOWTO guide with every step required to get docker-zulip up and running, starting with links to how to install a current enough Docker on the Docker docs, a list of the configuration fields in `docker-compose.yml` that need to be manually updated, etc.

[2018-05-20 20:45] timabbott commented on #115
Oh, yeah, I was worried about this in the Kubernetes configuration specifically, but re-reading that, you may be right that this is already working correctly.

If you've tested this recently on Kubernetes, we can probably close this.

[2018-05-21 16:35] #104 closed

[2018-05-22 16:13] gioragutt commented on #118
@timabbott yes please! I know docker for the basics, but it's unclear to me if I have to clone the repo or not, since it's required to edit the `docker-compose.yml` file...

Having clearer instructions would really help!

[2018-05-26 16:55] razem-io opened #119 "LDAP works with manage.py query_ldap but login does not."
Hi,

thank you for dockerizing zulip! We have a community project in Germany where I try to set this up. I managed to get LDAP working somehow.

[code]

The Login however does not. We have the following settings in our docker-compose.yml:

[code]
I can't find any logs where an error gets posted. Can somebody help us? Thank you very much!

[2018-05-26 17:14] timabbott commented on #119
What gets logged in `/var/log/zulip/server.log` when you try to login?

[2018-05-27 08:48] razem-io commented on #119
It has the following log output:

[code]

[2018-05-27 12:11] razem-io commented on #119
I also tried saving passwords in a different hash format (md5, sha, ssha). Sadly this did not do the trick. I was also syncing ldap accounts between the format changes to make sure it has the correct information.

[2018-05-27 23:39] timabbott opened #120 "Script getting an SSL certificate using certbot"
We just need to have `entrypoint.sh` call  `scripts/setup/setup-certbot` with the appropriate options when `SSL_CERTIFICATE_GENERATION` is set to `certbot` for this to work.

[2018-05-27 23:54] timabbott opened #121 "Make `docker-compose logs zulip` do something useful"
Ideally, we'd have it do something handy like tail the `errors.log`.

[2018-05-28 00:08] timabbott commented on #101
This error: https://github.com/galexrt/docker-zulip/issues/101#issuecomment-386528238 comes from the first-time database initialization not having been run; I got into that state by trying to rebuild the database  from scratch for testing with `rm -rf /opt/docker/zulip/postgresql`, which isn't correct (you need to also remove the stamp for whether the DB has been initialized in the `zulip` image).

[2018-05-28 00:08] #101 closed

[2018-05-28 00:11] timabbott commented on #106
Having played with this more, what I want the CI to do is not just build the image, but actually boot it and create a Zulip organization (using the self-signed cert flow or something).  That would be a really good end-to-end test of this image.

[2018-05-28 00:14] timabbott commented on #119
What are you entering in the login form?  I believe with that configuration, users should be entering their LDAP username and password.

The other thing you can check is what you ended up with at the bottom of `/etc/zulip/settings.py` -- it's possible the LDAP backend configuration isn't going through correctly.

[2018-05-28 00:14] timabbott commented on #119
(Also, did you create an organization before trying to use LDAP?  You have to use EmailAuthBackend for organization creation)

[2018-05-28 00:22] timabbott opened #122 "Make sure the `MANUAL_CONFIGURATION` option works"
Just from reading the code, I think it might be missing a block to create a symlink to the data dir path.

[2018-05-28 00:42] #110 closed

[2018-05-28 00:42] #118 closed

[2018-05-28 00:43] timabbott commented on #118
@gioragutt I just finished the first pass of this; check out the new README.md.  I'd absolutely love it if you tried to follow the new documentation and offered any feedback on how it could be better!

[2018-05-28 00:49] #122 closed

[2018-05-28 01:19] timabbott commented on #96
`SETTING_PUSH_NOTIFICATION_BOUNCER_URL` should work (and I just tested it gets added properly).  Closing, I added ee0a7cb9cad2509383f44c783070cc84433348c2 to make it clear how to do this.

[2018-05-28 01:19] #96 closed

[2018-05-28 01:20] timabbott commented on #115
OK I've confirmed this is working properly; sorry for the false alarm :)

[2018-05-28 01:20] #115 closed

[2018-05-28 06:44] razem-io commented on #119
Thank you for your suggestions! I will try that as soon as I have the time and report back here.

[2018-05-28 17:47] razem-io commented on #119
Your aducated guess was right. I forgot to create an organization before using LDAP. Everything work flawless now. Thank you so much!

[2018-05-28 17:47] #119 closed

[2018-05-28 18:03] gioragutt commented on #118
Hey man, thank you so much for your work. I'm super busy for the rest of the day, but I'll definitely try it soon. I really want to get this to work(I want a slack-alternative and I need it to work on-premise), because this will have great value.

I'll let you know as soon as I get to this. Again, thank you for your work, it's really appreciated!

[2018-06-07 10:39] H3npi opened #123 "database files are incompatible with server"
Hey together,

i tried the docker-compose script today, sadly the database container is not starting because of this error message:

[code]

Since i cannot find a repo for the zulip-postgres image, i am posting it here.

BR
H3n

[2018-06-07 15:22] timabbott commented on #123
@H3npi can you talk a bit more about what you did? It sounds like you somehow did the database initialization that runs when this project starts with one version of `docker-zulip`  and then tried to boot it with another.

If your Docker server is new, you should be able to just remove `/opt/docker/zulip/` and boot it again.

But I'm very curious as to what sequence of steps you took, since this pr

[2018-06-07 16:37] H3npi commented on #123
Mhm thanks for the input!

It could be that someone tried to install a docker env earlier this year, and these were just some leftovers from that time. I'll try to figure this out.

BR
H3n

[2018-06-13 20:28] Rinma opened #124 "Database error default_desktop_notifications does not exist"
Hi,

I restarted the server with docker-compose and the usage of the `quay.io/galexrt/zulip:1.8.1-0` image and got this error.

[code]

What can I do?

[2018-06-13 23:17] timabbott commented on #124
I think that error comes from using two different versions of the
container... That migration was added between 1.8.1 and master

-Tim Abbott (mobile)

On Wed, Jun 13, 2018, 16:28 Marvin Dalheimer <notifications@github.com>
wrote:

[2018-06-14 07:22] #124 closed

[2018-06-21 17:16] zingmars commented on #123
I just ran into this. You were right - basically, you were running the old version of the zulip containers, which used the database image from `quay.io/galexrt/postgres-zulip-tsearchextras:latest` to set up the database.

As I understand, the old galexrt's images are now replaced by ones maintained by Zulip. A way to update from these images to the new ones would be appreciated.